/* ===================== */

/* CONTACT FORM CSS */

/* ===================== */

#centered-content-box form {
  margin: 0 auto;
}

#centered-content-box input {
  height: 39px;
  border: 1px solid #5f5f5f;
  width: 300px;
  padding: 0 auto;
}

#centered-content-box #contact-form-wrap form #form-submit-button {
  width: 215px;
  border: 0;
}

#centered-content-box form textarea {
  margin-bottom: 0;
  width: 1010px;
  border-radius: 4px;
}

.flex,
#form-flex,
.mobile-flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
}

#contact-form-wrap {
  background-color: rgba(33, 50, 63, 0.8);
  width: 1020px;
  padding: 40px 40px 20px;
  box-shadow: inset 0 0 200px 66px rgb(33, 50, 63);
  margin: 0 0 0 0;
}

#contact-form-wrap #free-case-evaluation {
  width: auto;
  margin: 0 0 20px;
  padding: 0;
  background: none;
}

#contact-form-wrap-alt {
  background-color: rgba(33, 50, 63, 0.8);
  width: auto;
  padding: 20px 40px;
  box-shadow: inset 0 0 200px 66px rgb(33, 50, 63);
  margin: 0 0 0 0;
}

#centered-content-box #contact-form-wrap p {
  padding: 0;
}

.iform6 {
  width: 208px !important;
  height: 33px !important;
  margin: 0 0 10px 0;
  border: 1px solid #474747;
  background: #fff;
  color: #00213d;
  font-size: 12px;
  border-radius: 4px;
}

.tform6 {
  width: 208px !important;
  height: 116px !important;
  padding-top: 8px;
  margin: 0 0 10px 0;
  border: 1px solid #474747;
  background: #fff;
  color: #00213d;
  font-size: 12px;
  line-height: 15px;
}

.subform6 {
  width: 213px !important;
  height: 39px !important;
  margin: 19px auto 20px auto;
  border: none !important;
  cursor: pointer;
  display: block;
}

.subform6:hover {
  background-position: -973px 0 !important;
}

p.form-caption {
  font-size: 11px;
  text-align: center;
  padding: 17px 10px 26px 10px;
  line-height: 16px;
  color: #252525;
}

p.visit-text {
  background: #f6f2e9 url('/images/wheelchair.png') no-repeat 30px 30px;
  padding: 13px 60px 26px 100px;
  font-size: 14px;
  line-height: 18px;
  color: #252525;
}

p.visit-text span {
  font-size: 18px;
  line-height: 40px;
  color: #0072bc;
  font-weight: bold;
}

#contact-form-wrap-alt #contact-form-messages {
  color: white;
  text-align: right;
}

#contact-form-wrap-alt .free-case {
  margin-bottom: 15px;
  margin-top: 13px;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

ul.cbullet {
  list-style: none;
  padding: 20px 0 20px 0;
  font-size: 16px;
}

ul.cbullet li {
  padding: 0 0 0 20px;
  background: url('/images/cbullet.png') no-repeat left 8px;
}

p.form-subtext {
  text-align: center;
  padding: 0 55px 0 55px;
  margin: 0 0 25px 0;
  color: #a5acb4;
  font-size: 15px;
  font-family: Verdana, Helvetica, sans-serif;
  line-height: 20px;
}

#contact-social {
  width: 100%;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin: 40px 0 40px 0;
  clear: both;
}

#connect-social p {
  width: 100%;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #7d4900;
  text-align: center;
  padding-top: 28px;
}

#connect-social-inner {
  flex-flow: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 84%;
}

a#cs-facebook,
a#cs-twitter,
a#cs-googleplus,
a#cs-yelp {
  height: 80px;
  display: block;
  outline: 0;
  border: 0;
  margin: 0 0 0 0;
  float: left;
  background: url('/images/contact-social.gif') no-repeat;
}

a#cs-facebook {
  width: 106px;
  background-position: -32px 0;
}

a#cs-twitter {
  width: 114px;
  background-position: -169px 0;
}

a#cs-googleplus {
  width: 95px;
  background-position: -310px 0;
}

a#cs-yelp {
  width: 97px;
  background-position: -428px 0;
}

a#cs-facebook:hover,
a#cs-twitter:hover,
a#cs-googleplus:hover,
a#cs-yelp:hover {
  opacity: 0.7;
}

.attorney-spotlight-bisnar {
  position: relative;
  min-height: 360px;
  background: #f6f2e9;
}

#bisnar-pic {
  width: 230px;
  height: 335px;
  background: url('/images/john-bisnar.png') no-repeat left bottom;
  position: absolute;
  left: 0;
  bottom: 0;
}

.cdivider {
  width: auto;
  border-bottom: 1px solid #e1e1e1;
  height: 1px;
  margin: 40px auto;
}

.free-case {
  margin-bottom: 20px;
}

#office-front-contact {
  width: 100%;
}

#contact-info-box {
  padding: 20px 40px;
  background-color: rgb(232, 226, 203);
  width: 38%;
  float: left;
}

#contact-info-box p {
  line-height: 22px;
}

#map-box {
  width: 52%;
  float: right;
  height: 455px;
}

#map-box-alt {
  width: auto;
  height: 306px;
}

.sub-text {
  font-size: 12px;
  line-height: 12px;
}

.med-text,
.med-text li {
  font-size: 14px;
}

ul {
  list-style-position: inside;
}

.social-container i {
  font-size: 80px;
  text-align: center;
  color: #b70000;
  display: block;
}

.social-container i:hover {
  color: #377bbf;
}

.social-container a:hover {
  text-decoration: none;
}

.social-sub-container {
  margin: auto;
  width: 100%;
}

.social-sub-container .social-container {
  margin: 0 40px;
}

.social-sub-container .social-container div {
  width: 50%;
}

.social-sub-container img {
  height: 120px;
}

.big-title {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 36px;
}

.vert-divider {
  width: 1px;
  height: 220px;
  background-color: #bbb;
}

.mobile-text {
  display: none;
}

#contact-new-left {
  width: 520px;
  float: left;
}

#contact-new-right {
  width: 520px;
  float: right;
}

#contact-info-box-right {
  max-height: 368px;
  margin-bottom: 20px;
  overflow: hidden;
}

#cn-form-wrap {
  width: 448px;
  padding: 36px 42px 40px 30px;
  margin-top: 14px !important;
  background: #2f3e48;
}

#cn-form-title {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

#cn-form-desc {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #a5acb4;
  padding: 0 45px;
  margin-bottom: 25px;
}

#cn-form-wrap .iform2 {
  width: 100% !important;
}

#cn-form-wrap .tform2 {
  width: 100% !important;
  height: 110px !important;
  line-height: 16px !important;
  padding-top: 9px !important;
  margin-bottom: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#cn-form-lt {
  width: 208px;
  float: left;
}

#cn-form-rt {
  width: 208px;
  float: right;
}

#house-call {
  padding: 15px 30px 14px 100px;
  margin: 14px 0 0 0;
  background: #f6f2e9 url('/images/housecall.gif') no-repeat 30px 30px;
}

#house-call p {
  font-size: 14px;
  line-height: 18px;
}

#house-call p.house-call-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: -16px;
  color: #0072bc;
}

#contact-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: center;
  color: #7d4900;
  padding-top: 0 !important;
  margin: 7px 0 0 0 !important;
}

#cn-address {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding-top: 0 !important;
  margin-bottom: 2px !important;
}

.cn-loc {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 3px !important;
}

ul#cn-loc-list {
  list-style: none;
  font-size: 16px;
  line-height: 30px;
}

ul#cn-loc-list li {
  width: 234px;
  float: left;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  text-align: left;
}

ul#cn-loc-list li:before {
  content: '';
  width: 9px;
  height: 9px;
  background-color: #9f8e74;
  display: block;
  float: left;
  top: 10px;
  position: relative;
  right: 20px;
}

@media only screen and (max-width: 1100px) {
  #full-width {
    width: auto;
    margin: auto;
  }

  #contact-form-wrap {
    width: auto;
    margin: auto;
  }

  #centered-content-box #contact-form-wrap input {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  #centered-content-box #contact-form-wrap textarea {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .subform2 {
    width: 213px;
    height: 39px;
    margin: 0 auto 0 auto;
    border: none;
    cursor: pointer;
    display: block;
  }

  .subform2:hover {
    background-position: -217px top;
  }

  #contact-info-box {
    width: 40%;
  }

  #map-box {
    width: 45%;
    height: 368px;
  }

  .social-sub-container img {
    height: 70px;
  }

  .vert-divider {
    width: 1px;
    height: 160px;
    background-color: #bbb;
  }

  .mobile-text {
    display: block;
    text-align: center;
  }

  #contact-form-wrap-alt {
    width: auto;
    margin: 20px 20px 20px 20px;
  }

  .cpageflt {
    width: auto;
    float: none;
    margin: 0 40px 20px 40px;
    padding: 0;
  }

  .iform6 {
    width: 95% !important;
    margin: 0 auto 10px auto;
  }

  .tform6 {
    width: 95% !important;
    margin: 0 auto 10px auto;
  }

  p.visit-text {
    margin: 0 20px 0 20px;
  }

  p.form-caption {
    margin: 0 20px 0 20px;
  }

  #map-box-alt {
    margin: 0 0 0 0;
  }

  #contact-social {
    width: 520px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 40px auto 40px auto;
  }

  #contact-social p {
    width: auto;
    float: none;
    padding: 25px 0 0 0;
    line-height: 30px;
    text-align: center;
  }

  #contact-social a#contact-facebook {
    margin-left: 117px;
  }

  #contact-social a#contact-google {
    clear: left;
    margin-left: 135px;
  }

  .attorney-spotlight-bisnar {
    width: 530px;
    float: none;
    margin: 0 auto 40px auto;
  }

  .attorney-spotlight-chase {
    width: 530px;
    float: none;
    margin: 0 auto 0 auto;
  }

  #office-pictures {
    width: 551px;
    margin: 0 auto 0 auto;
  }

  img.imgofficepic {
    display: block;
    max-width: 49.9%;
    height: auto;
    margin-left: 1px;
    float: left;
  }

  .cdivider {
    width: 551px;
  }

  #contact-new-left,
  #contact-new-right {
    float: none;
    margin: 0 auto;
  }

  #cn-form-wrap .iform2 {
    height: 33px !important;
  }

  .subform2 {
    width: 213px !important;
    border: none !important;
  }

  #house-call {
    margin-bottom: 50px;
  }
}

/* @media only screen and (max-width: 750px) {

	#full-width {
		width:460px;
		margin:auto;
	}

	#contact-form-wrap {
		width:380px;
		margin:auto;
	}

	#centered-content-box  #contact-form-wrap input, #centered-content-box  #contact-form-wrap textarea {
		margin:20px auto;
		width:300px;
		display:block;
	}

	#contact-info-box {
		width:380px;
		margin-bottom:20px;
	}

	#map-box {
		width:100%;
	}

	.vert-divider {
		height:1px;
		width:100%;
		margin:20px 0;
	}

	.social-sub-container .social-container div {
		width:100%;
	}

	.social-sub-container img {
		margin:auto;
		display:block;
	}

	#awards-ratings-reviews {
		display:none;
	}
} */

@media only screen and (max-width: 740px) {
  .cpageflt {
    margin: 0 10px 20px 10px;
  }

  #contact-form-wrap {
    margin-top: 20px;
  }

  #contact-form-wrap-alt {
    width: auto;
    margin: 20px 0 20px 0;
  }

  p.visit-text {
    background: #f6f2e9;
    padding: 13px 30px 26px 30px;
    margin: 0 0 0 0;
  }

  p.visit-text span {
    line-height: 25px;
    padding-bottom: 5px;
  }

  p.med-text {
    margin: 0 20px 20px 20px;
  }

  ul.cbullet {
    list-style: none;
    padding: 0 20px 0 20px;
    font-size: 16px;
  }

  #contact-info-box,
  #map-box {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

  #map-box-alt {
    margin-top: 20px;
  }

  #contact-social {
    width: auto;
    margin: 0 10px 20px 10px;
  }

  #contact-social a {
    float: none;
    margin: 10px auto 0 auto !important;
  }

  #bisnar-pic,
  #chase-pic {
    display: none;
  }

  .attorney-spotlight-chase a span,
  .attorney-spotlight-bisnar a span {
    font-size: 14px;
  }

  .attorney-spotlight-bisnar,
  .attorney-spotlight-chase {
    margin: 20px 10px 0 10px;
    width: auto;
    min-height: none;
  }

  .attorney-spotlight-bisnar p.sp-title,
  .attorney-spotlight-chase p.sp-title {
    padding: 30px 0 0 0;
    text-align: center;
  }

  .attorney-spotlight-bisnar p.sp-subtitle,
  .attorney-spotlight-chase p.sp-subtitle {
    padding: 0 0 20px 0;
    text-align: center;
  }

  .attorney-spotlight-bisnar a,
  .attorney-spotlight-chase a {
    width: auto;
    margin: 0 20px 0 20px;
  }

  .attorney-spotlight-bisnar a.spotlight-state-bar,
  .attorney-spotlight-chase a.spotlight-state-bar {
    width: auto;
    padding-left: 80px;
    padding-right: 0;
    background: #fff url('/images/contact-awards.png') no-repeat 24px 11px;
  }

  .attorney-spotlight-bisnar a.spotlight-orange-coast,
  .attorney-spotlight-chase a.spotlight-orange-coast {
    width: auto;
    padding-left: 80px;
    padding-right: 0;
    background: #fff url('/images/contact-awards.png') no-repeat 27px -62px;
  }

  .attorney-spotlight-bisnar a.spotlight-avvo,
  .attorney-spotlight-chase a.spotlight-avvo {
    width: auto;
    padding-left: 80px;
    padding-right: 0;
    background: #fff url('/images/contact-awards.png') no-repeat 10px -130px;
  }

  .attorney-spotlight-chase a.spotlight-nadc,
  .attorney-spotlight-chase a.spotlight-caa,
  .attorney-spotlight-chase a.spotlight-trial-lawyers {
    width: auto;
    padding-right: 0;
    padding-left: 70px;
  }

  .attorney-spotlight-chase a.spotlight-nadc {
    background: #fff url('/images/contact-awards-brian.png') no-repeat 10px 11px;
  }

  .attorney-spotlight-chase a.spotlight-caa {
    background: #fff url('/images/contact-awards-brian.png') no-repeat 10px -62px;
  }

  .attorney-spotlight-chase a.spotlight-trial-lawyers {
    background: #fff url('/images/contact-awards-brian.png') no-repeat 10px -150px;
  }

  .attorney-spotlight-chase a .arrow-spotlight {
    float: right;
    margin: 11px 12px 0 0;
  }

  #office-pictures {
    width: auto;
    margin: 0 auto 0 auto;
  }

  img.imgofficepic {
    max-width: 90%;
    height: auto;
    margin: 1px auto 0 auto;
    float: none;
  }

  .cdivider {
    width: auto;
    margin: 40px 10px;
  }

  #contact-new-left,
  #contact-new-right {
    width: auto;
    float: none;
    margin: 0 auto;
  }

  #cn-form-wrap {
    width: auto;
    padding: 36px 30px 40px 30px;
  }

  #cn-form-desc {
    padding: 0;
  }

  #cn-form-lt,
  #cn-form-rt {
    width: 95%;
    float: none;
  }

  .subform2 {
    width: 213px !important;
    border: none !important;
  }

  #house-call {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  #full-width {
    width: auto;
    margin: auto;
  }

  #contact-form-wrap {
    width: auto;
  }

  #contact-info-box {
    width: auto;
  }

  #centered-content-box #contact-form-wrap input,
  #centered-content-box #contact-form-wrap textarea {
    /*width:100%;*/
  }

  #h1title {
    font-size: 22px;
  }
}
