@font-face {
  font-family: 'custom-icons';
  src: url('/css/font/custom-icons.eot?49876489');
  src: url('/css/font/custom-icons.eot?49876489#iefix') format('embedded-opentype'), url('/css/font/custom-icons.woff2?49876489') format('woff2'),
    url('/css/font/custom-icons.woff?49876489') format('woff'), url('/css/font/custom-icons.ttf?49876489') format('truetype'), url('/css/font/custom-icons.svg?49876489#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom-icons';
    src: url('../font/custom-icons.svg?49876489#custom-icons') format('svg');
  }
}
*/

[class^='fa-']:before,
[class*=' fa-']:before {
  font-family: 'custom-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */

  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-search:before {
  content: '\e800';
} /* '' */
.fa-comment:before {
  content: '\e801';
} /* '' */
.fa-phone:before {
  content: '\e802';
} /* '' */
.fa-home:before {
  content: '\e803';
} /* '' */
.fa-map-marker:before {
  content: '\e804';
} /* '' */
.fa-arrow-up:before {
  content: '\e805';
} /* '' */
.fa-hammer:before {
  content: '\e806';
} /* '' */
.fa-book:before {
  content: '\e807';
} /* '' */
.fa-left-open:before {
  content: '\e808';
} /* '' */
.fa-arrow-left:before {
  content: '\e809';
} /* '' */
.fa-right-open:before {
  content: '\e80a';
} /* '' */
.fa-arrow-right:before {
  content: '\e80b';
} /* '' */
.fa-list-alt:before {
  content: '\e80c';
} /* '' */
.fa-question-circle:before {
  content: '\e80d';
} /* '' */
.fa-exclamation-triangle:before {
  content: '\e80e';
} /* '' */
.fa-attention-circled:before {
  content: '\e80f';
} /* '' */
.fa-down-big:before {
  content: '\e810';
} /* '' */
.fa-star:before {
  content: '\e811';
} /* '' */
.fa-star-empty:before {
  content: '\e812';
} /* '' */
.fa-caret-left:before {
  content: '\e813';
} /* '' */
.fa-caret-right:before {
  content: '\e814';
} /* '' */
.fa-right-circled:before {
  content: '\f0a9';
} /* '' */
.fa-bars:before {
  content: '\f0c9';
} /* '' */
.fa-file-text-o:before {
  content: '\f0f6';
} /* '' */
.fa-ambulance:before {
  content: '\f0f9';
} /* '' */
.fa-angle-left:before {
  content: '\f104';
} /* '' */
.fa-chevron-circle-left:before {
  content: '\f137';
} /* '' */
.fa-chevron-circle-right:before {
  content: '\f138';
} /* '' */
.fa-instagram:before {
  content: '\f16d';
} /* '' */
.fa-car:before {
  content: '\f1b9';
} /* '' */
.fa-circle-thin:before {
  content: '\f1db';
} /* '' */
.fa-commenting-o:before {
  content: '\f27b';
} /* '' */
.fa-twitter-squared:before {
  content: '\f304';
} /* '' */
