#location-box .row {
  border-radius: 5px;
  box-shadow: 4px 4px 10px 0 #888;
}

.no-gutter {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.outline {
  border: 2px solid #222;
}

#crime-index-number {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
  margin: auto;
}

.intersection-section-header {
  font-size: 24px;
}

.location-image {
  height: 210px;
}

.location-image img {
  width: 100.2%;
}

#intersection {
  font-size: 28px;
  font-weight: bolder;
  color: #6f0a1d;
}

.font-9 {
  font-size: 9px;
  line-height: 14px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-24 {
  font-size: 24px;
}

/*Border Styles*/

.b-left {
  border-left: 1px solid #222;
}

.b-right {
  border-right: 1px solid #222;
}

.b-top {
  border-top: 1px solid #222;
}

.b-bottom {
  border-bottom: 1px solid #222;
}

.x-left {
  border-left: none !important;
}

.x-right {
  border-right: none !important;
}

.x-top {
  border-top: none !important;
}

.x-bottom {
  border-bottom: none !important;
}

#centered-content-box form {
  margin: 0 auto;
}

#centered-content-box input {
  height: 39px;
  border: 1px solid #5f5f5f;
  width: 300px;
  padding: 0 auto;
}

#centered-content-box #contact-form-wrap form #form-submit-button {
  width: 215px;
  border: 0;
}

#centered-content-box form textarea {
  margin-bottom: 0;
  width: 1010px;
  border-radius: 4px;
}

.flex,
#form-flex,
.mobile-flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
}

#contact-form-wrap {
  background-color: rgba(33, 50, 63, 0.8);
  width: 1100px;
  padding: 20px 40px;
  box-shadow: inset 0 0 200px 66px rgb(33, 50, 63);
  margin: 10px 0 20px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.location-box-shadow {
  box-shadow: 4px 4px 10px 0 #888;
  border-radius: 5px;
}

#contact-form-wrap #free-case-evaluation {
  width: auto;
  margin: 0 0 20px;
  padding: 0;
  background: none;
}

.free-case {
  margin-bottom: 20px;
}

#contact-info-box {
  padding: 20px 40px;
  background-color: rgb(232, 226, 203);
  width: 38%;
  float: left;
}

ul {
  list-style-position: inside;
}

#location-box-3 .intersection-header p {
  font-size: 24px;
}

#content.well {
  /*background-image: -webkit-linear-gradient(top,#FAF7F2 0,#E9F1F9 100%);
	background-image: -o-linear-gradient(top,#FAF7F2 0,#E9F1F9 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FAF7F2),to(#E9F1F9));
	background-image: linear-gradient(to bottom,#FAF7F2 0%,#E9F1F9 100%);*/
  box-shadow: 0 0 200px -20px rgb(224, 241, 255) inset;
  /* background-image: url('/images/backgrounds/lines-pattern-white.jpg'); */
  background-size: 8px;
  background-repeat: repeat;
}

#top-content {
  border-radius: 5px;
  border: 2px solid #222;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 200px -20px rgb(224, 241, 255) inset;
  /* background-image: url('/images/backgrounds/lines-pattern-white.jpg'); */
  background-size: 8px;
}

@media only screen and (max-width: 992px) {
  .col-sm-0 {
    display: none;
  }

  .intersection-section-header {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1100px) {
  #free-case-evaluation {
    display: block !important;
    margin-bottom: 0;
  }

  #contact-form-wrap {
    width: 100%;
    margin: 10px auto 0;
  }

  #centered-content-box #contact-form-wrap input,
  #centered-content-box #contact-form-wrap textarea {
    width: 100%;
    margin: 0 auto 20px;
    display: block;
  }

  .subform2 {
    width: 213px;
    height: 39px;
    margin: 0 auto 0 auto;
    border: none;
    background: url('/images/send-request.png') no-repeat left top;
    cursor: pointer;
    display: block;
  }

  .subform2:hover {
    background-position: -217px top;
  }

  #contact-info-box {
    width: 40%;
  }

  .mobile-text {
    display: block;
    text-align: center;
  }

  #sidebar-margin-fix {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  #nearby-cities-div {
    display: none;
  }

  .mobile-centered {
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  #contact-form-wrap {
    width: 100%;
    margin: auto;
  }

  #location-box-3 .intersection-header p {
    font-size: 16px;
  }

  #location-box-3 .intersection-header p span {
    line-height: 17px !important;
  }
}

@media only screen and (max-width: 530px) {
  #location-box-3 .intersection-header p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  #contact-form-wrap {
    width: auto;
  }

  #contact-info-box {
    width: auto;
  }

  #centered-content-box #contact-form-wrap input,
  #centered-content-box #contact-form-wrap textarea {
    width: 180px;
  }

  #h1title {
    font-size: 22px;
  }

  .intersection-names {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  #location-box-3,
  #footnote-2 {
    display: none;
  }
}
