/* Updated 10/4/17



/******************************

Stylesheet for BestAttorney.com homepage.



===============================

====== TABLE OF CONTENTS ======

===============================



1.0 CONTENT STYLES

	1.1 H Tag Styles

	1.2 Featured Slider Styles

	1.3 John and Brian Images Styles

	1.4 What Our Clients Say Styles

2.0 PC ONLY STYLES

3.0 TABLET ONLY STYLES

4.0 MOBILE ONLY STYLES



******************************/

/*==============================

====== 1.0 CONTENT STYLES ======

================================*/

/*========== 1.1 H Tag Styles ==========*/

h1#ind {
	line-height: 40px;
	height: auto;
	font-size: 40px;
	color: #ec7d29;
	padding: 60px 0 55px 0;
	margin: 0 0 0 0;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #ec7d29;
	text-align: center;
}

/*========== 1.2 Featured Slider Styles ==========*/

#featured-wrap {
	position: relative;
}

#featured-wrap-bg {
	background: #45291f url(/images/featured-bg-xs.jpg);
	background-size: cover;
	height: 104%;
	position: absolute;
	width: 104%;
	margin: -651px -15px 0;
	z-index: -1;
	filter: blur(8px);
	background-position: top center;
}

#featured-mobile-wrap {
	display: none;
}

#featured-container {
	position: relative;
	overflow: hidden;
	height: 482px;
}

#featured-list {
	position: relative;
	width: 5000px;
	margin: 0;
	padding: 0;
}

#featured-container #featured-list .featured-item {
	float: left;
	text-align: left;
	overflow: hidden;
}

.featured-btn {
	width: 50px;
	height: 482px;
	background: rgba(0, 0, 0, 0.1);
	position: relative;
	color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	transition: 0.15s;
	width: 50px;
	margin-bottom: -482px;
}

.featured-prev {
	right: 56px;
	float: left;
	border-radius: 15px 0 0 15px;
}

.featured-next {
	left: 56px;
	float: right;
	border-radius: 0 15px 15px 0;
}

.featured-btn:hover {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(100, 100, 100, 0.8);
	transition: 0.15s;
}

.featured-btn i {
	font-size: 72px;
	position: relative;
	top: 200px;
}

.featured-btn .fa-caret-left {
	right: 26px;
}

.featured-btn .fa-caret-right {
	right: 26px;
}

#featured .ui-tabs-panel {
	width: 1101px;
	height: 482px;
	position: relative;
	overflow: hidden;
}

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
	width: 1101px;
	height: 482px;
	position: relative;
}

/*#tab-1 { background: url("/images/pane-1-bg.jpg") no-repeat center top; }

#tab-3 { background: url("/images/pane-3-bg.jpg") no-repeat center top; }

#tab-4 { background: url("/images/pane-4-bg.jpg") no-repeat center top; }*/

.webp #pane1-espanol {
	background: url('/images/pane-3-bg.webp') left top no-repeat;
}

.no-webp #pane1-espanol {
	background: url('/images/pane-3-bg.jpg') left top no-repeat;
}

#featured #pagination {
	width: 210px;
	height: 34px;
	padding: 0 0 0 0;
	margin: 10px auto 0 auto;
	list-style: none;
	z-index: 100;
	display: flex;
}

#featured #pagination li {
	padding: 0 0 0 0;
	margin: 0 8px 0 0;
	display: block;
}

#featured #pagination li.active {
	background: none;
}

#featured #pagination li.active a {
	background: none;
}

#featured #pagination li.nav-fragment {
	cursor: pointer;
	height: 34px;
	margin-right: 10px;
	width: 34px;
}

#featured #pagination li.nav-fragment a {
	display: block;
	filter: saturate(60%) sepia(80%) brightness(100%) contrast(90%);
	height: 31px;
	width: 31px;
	border: 1px solid #9b8877;
}

.webp #featured #pagination li.nav-fragment a {
	background: url('/images/sprites-home.webp') no-repeat;
}

.no-webp #featured #pagination li.nav-fragment a {
	background: url('/images/sprites-home.jpg') no-repeat;
}

#featured #pagination li#nav-fragment-1 a {
	background-position: -481px -34px;
}

#featured #pagination li#nav-fragment-2 a {
	background-position: -480px -136px;
}

#featured #pagination li#nav-fragment-3 a {
	background-position: -481px -1px;
}

#featured #pagination li#nav-fragment-4 a {
	background-position: -481px -103px;
}

#featured #pagination .nav-fragment a:hover,
#featured #pagination li.active a {
	filter: none;
}

/* Spanish Homepage */

#pane1-espanol {
	height: 482px;
	position: relative;

	/* width: 1101px; */
}

#footer #metros p,
#footer #newsletter p,
#footer #sitemap p,
#footer #social-media p,
#footer #disclaimer p.title {
	text-align: center;
}

#social-container {
	margin: 0 auto;
}

#pane1-espanol h1 {
	font-size: 42px;
	line-height: 48px;
	color: #ece5cd;
	text-align: right;
}

#template-home p.subtitle {
	/* bad */
	padding-top: 28px;
}

p.subtitle {
	color: #bca67a;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 0 0;
	padding: 0 60px 0 0;
	text-transform: uppercase;
}

p.pane-text {
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	margin: 0 0 0 0;
	padding: 21px 60px 0 430px;
}

p.pane-text-alt {
	padding-left: 370px !important;
}

a.pane-link {
	clear: both;
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 12px;
	line-height: 19px;
	margin: 10px 60px 0 0;
	padding: 0 25px 0 0;
	text-decoration: underline;
	text-transform: uppercase;
	position: relative;
	z-index: 10;
}

a.pane-link i {
	font-size: 14px;
}

a.pane-link:hover {
	color: #8dacd2;
}

#tab-2 a.brown-button,
#tab-2 a.contact-button {
	margin-top: 16px;
}

#top-representation a,
#home-reviews a,
#contact-bisnar-chase a {
	color: #5da7e4; /* lightblue */
}

.pane-header-text {
	color: #ece5cd;
	font-family: 'times-new-roman', times, serif;
	font-size: 68px;
	font-weight: 100;
	padding: 100px 60px 0 0;
	text-align: right;
	text-shadow: 2px 2px 1px #502f0d;
}

#tab-3 {
	background-size: cover;
	background-position-x: -41px;
	background-position-y: 45px;
}

#tab-3 .pane-header-text {
	padding: 34px 0 0 0;
	text-align: center;
	margin: 0 auto;
}

.subtitle-container {
	text-align: center;
	top: 34px;
	position: relative;
	display: flex;
	justify-content: space-around;
}

.subtitle-container p {
	font-size: 23px;
	font-weight: 700;
	padding: 0 60px 0 0;
	text-transform: uppercase;
	color: #e4ddc5;
	text-shadow: 2px 2px 1px #502f0d;
	font-family: times-new-roman, times, serif;
}

.subtitle-container p:first-child {
	padding-left: 46px;
}

.subtitle-container p:last-child {
	padding-right: 42px;
}

#video-inner-text {
	bottom: 309px;
	position: relative;
	z-index: 10;
	text-align: right;
	height: 482px;
	box-shadow: 0 1px 1px -1px #97856d inset, -2px 0 1px -1px #4e3a2f inset,
		0 -2px 1px -1px #473a32 inset, 2px 0 1px -1px #483a2f inset;
}

#homepage-video-overlay-play {
	bottom: 175px;
	height: 110px;
	margin-left: 138px;
	margin-top: 0;
	position: absolute;
	width: 162px;
}

.webplossless #homepage-video-overlay-play {
	background: url(/images/sprites-general.webp) no-repeat -2px -372px;
}

.no-webplossless #homepage-video-overlay-play {
	background: url(/images/sprites-general.png) no-repeat -2px -372px;
}

#homepage-video-overlay-play:hover {
	background-position: -169px -372px;
}

#home-brand-video {
	width: 675px;
	height: 482px;
	margin-bottom: -177px;
	margin-left: -15px;
}

.pane-inner-text {
	position: relative;
	z-index: 100;
	text-align: right;
	height: 482px;
	box-shadow: 0 1px 1px -1px #97856d inset, -2px 0 1px -1px #4e3a2f inset,
		0 -2px 1px -1px #473a32 inset, 2px 0 1px -1px #483a2f inset;
}

#tab-3 .buttons {
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 239px;
}

#tab-3 .buttons a {
	margin-right: 0 !important;
}

.pane-overlay {
	width: 756px;
	height: 482px;
	top: 0;
	right: 0;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="3");
	-webkit-mask-image: linear-gradient(250deg, #000 70%, transparent 80%);
	-moz-mask-image: linear-gradient(250deg, #000 70%, transparent 80%);
	-o-mask-image: linear-gradient(250deg, #000 70%, transparent 80%);
	mask: linear-gradient(250deg, #000 70%, transparent 80%);

	/* box-shadow: inset 20px 0 30px -5px #443021, -20px 0 30px -5px #443021; */
}

#tab-3 .pane-overlay {
	width: 100%;
	-webkit-mask-image: linear-gradient(
		0deg,
		transparent 63%,
		#0008 72%,
		#000 90%
	);
	-moz-mask-image: linear-gradient(0deg, transparent 63%, #0008 72%, #000 90%);
	-o-mask-image: linear-gradient(0deg, transparent 63%, #0008 72%, #000 90%);
	mask: linear-gradient(0deg, transparent 63%, #0008 72%, #000 90%);
}

.pane-overlay .blur-img {
	filter: blur(6px);
	-webkit-filter: blur(6px);
	-ms-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
	z-index: 2;
	box-shadow: inset 20px 0 30px -5px #2a1909, -20px 0 30px -5px #2a1909;
}

.pane-overlay img {
	height: 628px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

/*========== 1.3 John and Brian Images Styles ==========*/

#about-us {
	background: #eadec4;
	background: -moz-linear-gradient(top, #eadec4 0%, #fff 50%, #fff 99%);
	background: -webkit-linear-gradient(top, #eadec4 0%, #fff 50%, #fff 99%);
	background: linear-gradient(to bottom, #eadec4 0%, #fff 50%, #fff 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eadec4', endColorstr='#ffffff',GradientType=0 );
	border-bottom: 2px solid #e8e8e8;
}

#template-espanol #about-us {
	background: white !important;
}

#about-bisnar-chase {
	width: 100%;
	margin: 0 auto 0 auto;
}

#free-case-evaluation-home {
	width: 100%;

	/* margin: -44px 0 50px 20px; */
	padding: 28px 0;
	background-color: #222533;

	/* border-radius: 3px; */

	/* background-image: linear-gradient(45deg, transparent 45%, #14222f 45%, #14222f 55%, transparent 55%), linear-gradient(#162633, #162633); */

	/* background-size: 5px 5px, cover; */

	/* box-shadow: 0 0 100px -11px rgba(0, 0, 0, 0.8) inset; */
	position: relative;
}

#free-case-evaluation-home #form-wrap {
	/* padding: 0 50px; */
	margin: 0 auto;
}

#free-case-evaluation-home p.title {
	color: #fff;
	font-size: 38px;
	text-align: center;
	width: 1100px;
	margin: 0 auto;

	/* margin-bottom: 20px; */

	/* font-weight: bold; */
}

#form-wrap p {
	/* display: inline; */
	margin: 0 auto;
	text-align: center;
}

#about-us #form-wrap p {
	display: inline;
}

#free-case-evaluation-home p.case-evaluation-subtext {
	color: #fff;

	/* font-size: 38px; */
	font-size: 22px;
	text-align: center;
	margin: 6px auto;

	/* text-align: center; */

	/* font-weight: bold; */
}

#home-contact-container {
	width: 100%;

	/* height: 284px; */

	/* float: right; */
}

/*========== 1.4 What Our Clients Say Styles ==========*/

#what-our-clients-say {
	width: 90%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, sans-serif;

	/* float: left;
   */
	margin: 0 auto;

	/* margin: 0 0 0 36px; */
}

#what-our-clients-say p.title {
	width: 252px;
	padding: 0 25px 0 0;
	margin: 61px 0 0 0;
	color: #001b3b;
	font-size: 25px;
	text-align: right;
	float: left;
	line-height: 30px;
}

#what-our-clients-say p.title a {
	color: #001b3b;
	text-decoration: none;
	font-weight: normal;
}

#what-our-clients-say p.title a:hover {
	color: #001b3b;
	text-decoration: none;
}

#what-our-clients-say p.see-all-testimonials {
	width: 138px;
	padding: 0 12px 0 0;
	margin: 66px 0 0 0;
	color: #062649;
	font-size: 11px;
	text-align: right;
	float: right;
	line-height: 30px;
	text-transform: uppercase;
}

#what-our-clients-say p.see-all-testimonials a {
	color: #062649;
	text-decoration: none;
}

#what-our-clients-say p.see-all-testimonials a:hover {
	color: #062649;
	text-decoration: underline;
}

#featured-videos {
	width: 78%;
	height: 168px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	color: #534741;
	font-size: 12px;
	line-height: 14px;
	position: relative;
}

#featured-videos-list {
	width: 5000px;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#featured-videos li {
	width: 535px !important;
	height: 168px;
	float: left;
	margin: 0 0;
	display: block;
	position: relative;
}

#featured-videos ul li div {
	height: 118px;
	float: left;
	padding: 0 10px !important;
}

#featured-videos ul li div#testimonial-chris .featured-image-container {
	background-position: -1px -101px;
}

#featured-videos ul li div#brian-chase-auto-defects .featured-image-container {
	background-image: url('/images/video-images/brian-chase-auto-defects.jpeg');
	/* background-image: url('/images/video-images/brian-chase-auto-defects.webp'); */
	background-size: cover;
}

#featured-videos ul li div#gavin-long-wrongful-death .featured-image-container {
	background-image: url('/images/video-images/gavin-long-11million-victory.jpg');
	/* background-image: url('/images/video-images/gavin-long-11million-victory.webp'); */
	/* background-position-x: 166px; */
	background-size: cover;
}

#featured-videos ul li div#brian-chase-abc-interview .featured-image-container {
	background-image: url('/images/video-images/bisnar-chase-abc-interview-carbon-monoxide.jpg');
	/* background-image: url('/images/video-images/bisnar-chase-abc-interview-carbon-monoxide.webp'); */
	background-size: cover;
}

#featured-videos ul li div#testimonial-alexis .featured-image-container {
	background-position: -321px -101px;
}

#featured-videos ul li div#testimonial-jason .featured-image-container {
	background-position: -161px -101px;
}

#featured-videos ul li div div {
	width: initial;
	height: 98px;
	margin-top: 10px;
	float: none;
	box-shadow: 0 0 10px #333;
}

#featured-videos ul li div a {
	width: auto;
	height: 52px;
	padding: 107px 0 0 0;
	margin: 0 0 0 0;
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: normal;
	font-weight: 700;
}

#featured-videos ul li div a:hover {
	text-shadow: 1px 1px 1px #aaa;
}

#featured-videos-prev {
	display: inline-block;
	width: 9px;
	height: 9px;
	border: 1px solid #222533;
	border-width: 3.5px 3.5px 0 0;
	margin: 74px 0 0 0;
	float: left;
	transform: rotate(225deg);
	-moz-transform: rotate(225deg); /* FireFox 15 fix */
	-ms-transform: rotate(225deg); /* IE9 fix */
	-webkit-transform: rotate(225deg); /* Chrome 35, Safari 7.1 fix */
}

#featured-videos-next {
	width: 9px;
	height: 9px;
	border: 1px solid #222533;
	border-width: 3.5px 3.5px 0 0;
	margin: 74px 0 0 0;
	float: right;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg); /* FireFox 15 fix */
	-ms-transform: rotate(45deg); /* IE9 fix */
	-webkit-transform: rotate(45deg); /* Chrome 35, Safari 7.1 fix */
}

#featured-videos-prev:hover,
#featured-videos-next:hover {
	cursor: pointer;
}

#what-our-clients-say p.title {
	display: none !important;
	text-align: left;
	width: auto;
}

#what-our-clients-say p.featured-subtitle {
	display: none !important;
	width: 300px;
	padding: 0 12px 0 0;
	margin: 66px 0 0 0;
	color: #062649;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	text-align: right;
	float: right;
	line-height: 30px;
	text-transform: uppercase;
}

#what-our-clients-say p.featured-subtitle a {
	color: #062649;
	text-decoration: none;
}

.featured-image-container {
	background-size: cover;
	border: 1px solid white;
	background-size: 329%;
}

.webp .featured-image-container {
	background-image: url('/images/sprites-home.webp');
}

.no-webp .featured-image-container {
	background-image: url('/images/sprites-home.jpg');
}

#featured-videos-2 #video_brand .featured-image-container {
	background-position: -321px -1px;
	background-size: 329%;
}

#featured-videos-2 #video_brian-on-fox-11 .featured-image-container {
	background-position: -161px -1px;
	background-size: 329%;
}

#featured-videos-2 #video_what-is-my-case-worth .featured-image-container {
	background-position: -2px -1px;
	background-size: 329%;
}

#featured-videos-2 #video_auto-defect-attorney .featured-image-container {
	background-position: -2px -1px;
	background-size: 329%;
}

#carbon-monoxide-homepage {
	background-size: 210%;
	background-position: 265px 99px;

	/* background: url("/images/featured-homepage-images/carbon-monoxide-homepage.jpg") no-repeat; */
}

.talcum-powder-homepage {
	background-size: 210%;
	background-position: 514px 99px;

	/* background: url("/images/featured-homepage-images/talcum-powder-homepage.jpg") no-repeat; */
}

#case-value-homepage {
	background-position: 197px 199px;
}

#whose-fault-homepage {
	background-position: 512px 199px;
}

#timeline-homepage {
	background-position: 354px 199px;
}

#california-personal-injury-lawyer,
#contact-bisnar-chase {
	/* background-image: linear-gradient(45deg, transparent 45%, #14222f 45%, #14222f 55%, transparent 55%), linear-gradient(#162633, #162633); */
	background-color: #222533;
	background-size: 5px 5px, cover;

	/* border-top: 1px solid #172633; */
}

#case-results {
	width: 1100px;
	margin: 0 auto 0 auto;
	padding: 0 0 85px 0;
}

#top-representation {
	width: 645px;
	float: left;
	margin: 0 0 0 20px;
	color: #fff;
	text-align: left;
	font-size: 16px;
	line-height: 27px;
}

#top-representation p {
	padding: 14px 0 14px 0;
	margin: 0 0 0 0;
}

#top-representation p.subtitle {
	font-size: 20px;
	color: #9eb3c5;
	padding: 15px 0 0 0;
	margin: 0 0 0 0;
}

#top-representation td {
	padding: 5px;
	vertical-align: text-top;
	vertical-align: top;
}

#top-representation ul,
#top-representation ol {
	margin: 5px 0 5px 10px;
	line-height: 22px;
}

#top-representation ul li,
#top-representation ol li {
	margin: 7px 0 7px 10px;
}

#content-expand {
	display: none;
}

#case-result-video-title {
	font-size: 16px;
	color: white;
	font-family: Verdana, Helvetica, sans-serif;
	background-color: rgba(0, 0, 20, 0.3);
	padding: 14px;
	margin-bottom: 10px;
	line-height: 18px;
	text-align: center;
	box-shadow: 0 4px 25px -5px black;
}

#brand-video-homepage {
	width: 326px;
	height: 195px;
	display: block;
	line-height: 43px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-family: Verdana, Helvetica, sans-serif;
	box-shadow: 0 4px 25px -5px black;
	background-size: cover !important;
}

#brand-video-homepage:after {
	content: '';
	width: 52px;
	height: 35px;
	position: relative;
	top: 76px;
	left: 140px;
	display: block;
}

.webplossless #brand-video-homepage:after {
	background: url('/images/sprites-general.webp') no-repeat -384px -155px;
}

.no-webplossless #brand-video-homepage:after {
	background: url('/images/sprites-general.png') no-repeat -384px -155px;
}

#brand-video-homepage:hover:after {
	background-position: -438px -155px;
	color: #2d1e17;
	text-decoration: none;
}

#results {
	width: 326px;
	float: right;
	margin: 20px 22px 0 0;
	padding: 0 0 0 0;
	background: none !important;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#home-reviews {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-top: 1px solid #011425;
	padding: 20px 20px 0;
	box-sizing: border-box;
	box-shadow: inset 0 1px #394c5c;
	margin-top: 15px;
}

.single-review {
	width: 300px;
	min-width: 250px;
	color: white;
	font-size: 12px;
	margin: 10px 10px 0;
}

.quote {
	font-style: italic;
}

#case-results img.imgcircle {
	float: left;
	margin: 9px 20px 0 0;
}

#case-results .author {
	margin-top: 10px;
}

#case-results {
	padding: 0 0 30px 0;
}

@media only screen and (max-width: 640px) {
	#home-reviews {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.single-review {
		width: 100%;
	}
}

#our-practice-areas {
	background: #ebe5cf;
}

#practice-areas {
	width: 1100px;
	min-height: 810px;
	margin: 0 auto 0 auto;
	background: #ebe5cf;
}

#practice-areas p {
	padding: 13px 100px 0;
	margin: 0 0 0 0;
	color: #62543f;
	font-size: 19px;
	text-align: center;
	line-height: 27px;
}

#practice-areas p.title {
	padding: 25px 0 15px 0;
	margin: 0 0 0 0;
	color: #a59073;
	font-size: 36px;
	text-align: center;
	line-height: 40px;
}

#pa-caro-wrap > div {
	box-sizing: border-box;
}

.practice-area-item {
	width: 277px;
	height: 145px;
	margin: 20px auto;
}

.practice-area-item::before {
	content: '';
	box-shadow: 14px 139px 11px 10px #555;
	width: 139px;
	transform: rotate(-3deg);
	position: absolute;
}

.practice-area-item::after {
	content: '';
	box-shadow: 127px 132px 11px 10px #555;
	width: 139px;
	transform: rotate(3deg);
	position: absolute;
}

.practice-area-item a {
	width: 277px;
	height: 43px;
	padding: 102px 0 0 0;
	line-height: 43px;
	text-align: center;
	display: block;
	color: #aa987e;
	text-decoration: none;
	position: absolute;
	z-index: 100;
}

.practice-area-item a .pa-title {
	width: 277px;
	height: 43px;
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

.home-pa-arrow {
	height: 7px;
	width: 7px;
	border: 1px solid #ec7d29;
	border-width: 3px 3px 0 0;
	margin: 0 0 0 15px;
	display: inline-block;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg); /* FireFox 15 fix */
	-ms-transform: rotate(45deg); /* IE9 fix */
	-webkit-transform: rotate(45deg); /* Chrome 35, Safari 7.1 fix */
}

.imgwrap {
	width: 277px;
	height: 145px;
	position: absolute;
	z-index: 50;
	overflow: hidden;
}

.imgwrap img {
	width: 277px;
	height: auto;
	transition: width 0.3s, margin 0.3s;
}

.practice-area-item:hover .imgwrap img {
	width: 320px !important;
	margin: -8px 0 0 !important;
}

a#full-list {
	width: 240px;
	padding: 0 12px 0 0;
	margin: 27px auto 0 auto;
	color: #8b8b84;
	text-align: right;
	display: block;
	font-size: 16px;
	line-height: 18px;
}

a#full-list:hover {
	text-decoration: underline;
}

a#full-list span {
	color: #071c2f;
}

#contact-now {
	width: 1100px;
	margin: 0 auto 0 auto;
}

#template-espanol #contact-now {
	padding: 25px 0 25px 0;
}

#contact-us,
#contact-us-espanol {
	width: 608px;
	margin: 0 auto;
}

#contact-us p.title,
#contact-us-espanol p.title {
	padding: 137px 0 0 0;
	margin: 0 0 0 0;
	line-height: 38px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 36px;
	color: #fff;
}

#contact-us-espanol p.title {
	padding: 0;
}

#contact-us p.subtext,
#contact-us-espanol p.subtext {
	padding: 21px 40px 45px 0;
	margin: 0 0 0 0;
	line-height: 31px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	color: #fff;
	font-style: italic;
}

#contact-us p.subtext span,
#contact-us-espanol p.subtext span {
	text-decoration: underline;
}

#contact-now {
	padding: 13px 0 38px !important;
}

#contact-now p#office-details {
	padding: 179px 0 0 0;
	margin: 0 0 0 0;
	clear: both;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #322414;
	line-height: 14px;
	text-transform: uppercase;
}

#contact-now p#office-details a {
	color: #322414;
	text-decoration: none;
}

#contact-now p#office-details a:hover {
	color: #322414;
	text-decoration: underline;
}

#contact-lt {
	width: 262px;
	margin: 0 0 0 0;
	float: left;
}

#contact-rt {
	width: 269px;
	margin: 0 0 0 30px;
	float: left;
}

.iform {
	width: 262px;
	height: 41px;
	margin: 0 0 10px 0;
	border: 1px solid #b7bfc5;
	background: #fff;
	border-radius: 5px;
}

.tform {
	width: 269px;
	height: 143px;
	margin: 0 0 10px 0;
	border: 1px solid #b7bfc5;
	background: #fff;
	line-height: 40px;
	border-radius: 5px;
}

#submitted {
	background: url('/images/submitted.gif') no-repeat right bottom #fff !important;
}

#case-evaluation-form .tform2 {
	line-height: 18px;
	padding-top: 8px;
	width: 98.9%;
	height: 150px;
}

#contact-form-messages {
	text-align: center;
	display: block !important;
}

#why-choose-bc {
	font-size: 32px;
	color: white;
	margin-bottom: 20px;
	line-height: 50px;
	font-weight: 400;
}

#watch-our-videos {
	width: 1100px;
	height: 574px;
	margin: 0 auto 0 auto;
	text-align: center;
	overflow: hidden;
}

#watch-our-videos p.title {
	padding: 75px 0 74px 0;
	margin: 0 0 0 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #b7a180;
	font-size: 36px;
	line-height: 40px;
}

#watch-our-videos p.quote {
	width: 480px;
	float: right;
	padding: 27px 0 13px 0;
	margin: 0 0 0 0;
	clear: right;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 29px;
}

#watch-our-videos p.speaker {
	padding: 0 0 2px 0;
	margin: 0 0 0 0;
	width: 480px;
	float: right;
	clear: right;
	color: #b3c3d0;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}

#watch-our-videos p.topic {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 480px;
	height: 25px;
	float: right;
	clear: right;
	color: #b7a180;
	font-size: 13px;
	line-height: 21px;
	font-style: italic;
	background: rgba(0, 0, 0, 0.5);
}

.video-pane {
	width: 538px;
	height: 267px;
	padding: 0 0 0 0;
	margin: 1px 0 0 1px;
	float: left;
}

#video-1 {
	background: url('/images/video-1.jpg') no-repeat left top;
}

#video-bc1 {
	background: url('/images/video-bc1.jpg') no-repeat left top;
	background-size: contain;
}

#video-bc2 {
	background: url('/images/video-bc2.jpg') no-repeat left top;
	background-size: contain;
}

#video-bc3 {
	background: url('/images/video-bc3.jpg') no-repeat left top;
	background-size: contain;
}

a.play-button {
	display: block;
	width: 52px;
	height: 35px;
	margin-left: 243px;
	margin-top: 116px;
}

.webplossless a.play-button {
	background: url('/images/sprites-general.webp') no-repeat -384px -155px;
}

.no-webplossless a.play-button {
	background: url('/images/sprites-general.png') no-repeat -384px -155px;
}

a.play-button:hover {
	background-position: -438px -155px;
	width: 52px;
	height: 35px;
	margin-left: 243px;
	margin-top: 116px;
}

a.more-about {
	width: 229px;
	height: 37px;
	display: block;
	padding: 11px 5px;
	margin: 213px 0 0 725px;
	background: #ffc14c;
	background: -moz-linear-gradient(top, #ffc14c 1%, #ec7d29 100%);
	background: -webkit-linear-gradient(top, #ffc14c 1%, #ec7d29 100%);
	background: linear-gradient(to bottom, #ffc14c 1%, #ec7d29 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc14c', endColorstr='#ec7d29',GradientType=0 );
	border-radius: 5px;
	position: absolute;
	z-index: 10;
	box-sizing: border-box;
	font-size: 12px;
	color: #5a3308;
}

a.more-about:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 5px solid #774d0d;
	border-bottom: 4px solid transparent;
	display: inline-block;
	margin-left: 6px;
	padding-bottom: 0;
}

a.more-about:hover {
	text-decoration: none;
	background: #ffc04c;
	background: -moz-linear-gradient(top, #ffc04c 0%, #ce722c 100%);
	background: -webkit-linear-gradient(top, #ffc04c 0%, #ce722c 100%);
	background: linear-gradient(to bottom, #ffc04c 0%, #ce722c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc04c', endColorstr='#ce722c',GradientType=0 );
}

#video-holder {
	width: 1060px;
	height: 295px;
	overflow: hidden;
	margin: 0 0 0 10px;
	float: left;
}

#video-holder ul {
	width: 20000em;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#video-holder ul li {
	width: 1060px;
	height: 295px;
	float: left;
}

#video-holder ul li .video-pane {
	border: 1px solid #918676;
	box-shadow: 13px 13px 15px rgba(0, 0, 0, 0.5);
}

/* NEW */

.sub-text-2 {
	max-width: 375px;
}

#featured-video-logo {
	width: 42%;
	margin-top: 25px;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, Helvetica Neue, sans-serif !important;
}

#media-text-container {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

#media-text-container p,
#media-text-container h1 {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

#media-text-container h1 {
	font-size: 38px;
}

#media-text-container p {
	font-size: 27px;
	font-weight: 800;
	margin-top: 28px;
	margin-bottom: 52px;
	text-shadow: 0px 2px 3px #555;
}

#about-us {
	background: none !important;
}

#our-practice-areas {
	background-color: #fff !important;
}

#practice-areas {
	background-color: #fff !important;
}

ul.full-panel {
	background: #fff !important;
}

ul#menu li ul.full-panel li div.col1 a.atto-link span {
	color: #222533 !important;
}

ul#menu li ul.full-panel li a.atto-link strong {
	color: #ec7d29 !important;
}

ul#menu li ul.full-panel li div.col2 a.atto-link span {
	color: #222533 !important;
}

ul#menu li ul.full-panel li div.col3 a.atto-link span {
	color: #222533 !important;
}

ul#menu li ul {
	background: #fff !important;
}

ul#menu li ul li a {
	color: #222533 !important;
}

ul#menu li ul li.title {
	color: #222533 !important;
}

ul#menu li ul li.title a {
	color: #222533 !important;
}

ul#menu li ul.full-panel li a#see-all-practice-areas {
	background: #ec7d29 !important;
}

.practice-area-item:after,
.practice-area-item:before {
	box-shadow: none !important;
}

#practice-areas p.title {
	color: #222533 !important;
}

#practice-areas p {
	color: #222533 !important;
}

#case-results {
	padding: 0 0 52px !important;
}

ul#menu li ul.full-panel li p.ptitle {
	color: #222533 !important;
}

ul#menu li ul.full-panel li a.atto-link {
	color: #ec7d29 !important;
}

ul#menu li ul.full-panel li p.ptitle a {
	color: #222533 !important;
}

ul#menu li ul.full-panel li a {
	color: #222533 !important;
}

#our-practice-areas {
	margin-bottom: -64px !important;
}

.atto-image {
	height: 52px !important;
	width: 50px !important;
	border-radius: 105%;
}

.practice-areas-images {
	height: 52px !important;
	width: 50px !important;
	border-radius: 105%;
}

a#home-link {
	margin-top: none !important;
}

.webplossless a#home-link {
	background: url(/images/2019-assets/bisnar-chase-logo.svg) center no-repeat !important;
	background-size: 364px 312px !important;
	height: 80px !important;
	background-position-y: 51% !important;
	margin-top: 25px !important;
}

/* PROTOTYPE V1 */

#contact-bisnar-chase {
	position: relative;
}
/* #contact-bisnar-chase:before {
	position: absolute;
	left: 0px;
	top: 0px;
	content: '';
	border-top: 100px solid #ec7d29;
	border-right: 100px solid transparent;
} */
/* #contact-bisnar-chase:after {
	position: absolute;
	right: 0px;
	bottom: 6px;
	content: '';
	border-top: 100px solid transparent;
	border-right: 100px solid #ec7d29;
} */
/* #contact-bisnar-chase:after {
	position: absolute;
	left: 0px;
	top: 0px;
	content: '';
	border-top: 150px solid #ec7d29;
	border-right: 150px solid transparent;
} */

#contact-bisnar-chase .video-container {
	height: 300px;
	/* margin: 5px 0; */
	/* border-left: 8px solid grey;
	border-right: 8px solid grey; */
	border-bottom: 5px solid grey;
}

#contact-bisnar-chase .video-container:last-of-type {
	/* border-bottom: none; */
}
#contact-bisnar-chase .video-container video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#contact-bisnar-chase .video-container .algolia-search-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contact-bisnar-chase .video-container .algolia-search-text h2 {
	/* font-size: 30px; */
	/* text-align: left; */
	margin-bottom: 25px;
	margin-top: 0;
}
#contact-bisnar-chase .video-container .algolia-search-text p {
	color: #fff;
	line-height: 1.6;
	font-size: 18px;
}

#contact-bisnar-chase #bg-opacity-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: black;
}

/* GRID VERSION V2 */

#contact-bisnar-chase-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	position: relative;
}

#contact-bisnar-chase-grid .video-container {
	position: relative;
	height: 400px;
	width: 100%;
	/* margin: 0 20px; */
}
#contact-bisnar-chase-grid .video-container {
	position: relative;
}

#contact-bisnar-chase-grid .video-container video {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

#contact-bisnar-chase-grid .video-container .algolia-search-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 30px;
}

#contact-bisnar-chase-grid .video-container .algolia-search-text h2 {
	font-size: 30px;
	text-align: left;
	margin-bottom: 25px;
	margin-top: 0;
	line-height: 1.2;
}
#contact-bisnar-chase-grid .video-container .algolia-search-text p {
	color: #fff;
	line-height: 1.6;
	font-size: 18px;
	margin-bottom: 25px;
}
#contact-bisnar-chase-grid .algolia-search-text a {
	font-weight: 700;
}

#contact-bisnar-chase-grid #bg-opacity-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: black;
}

.video-container-one-off {
	position: relative;
	/* bottom: 20px; */
	height: 400px;
	width: 100%;
}
.video-container-one-off video {
	object-fit: cover;
	/* position: absolute; */
	width: 100%;
	height: 100%;
}
.video-container-one-off .algolia-search-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
}

.video-container-one-off .algolia-search-text h2 {
	font-size: 30px;
	text-align: left;
	margin-bottom: 25px;
	margin-top: 0;
	line-height: 1.2;
}
.video-container-one-off .algolia-search-text p {
	color: #fff;
	line-height: 1.6;
	font-size: 18px;
	margin-bottom: 25px;
}
.video-container-one-off .algolia-search-text a {
	font-weight: 700;
}

.video-container-one-off #bg-opacity-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: black;
}

html#grid-test h2 {
	font-size: 30px;
	text-align: left;
}

html#non-grid-prototype h2 {
	font-size: 30px;
	text-align: left;
}

/* FROM header-home.php */

#home-mobile-title,
#experienced > p {
	display: none;
}

p.subtitle {
	padding: 150px 60px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 15px;
	color: #bca67a;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: bold;
}

p.pane-text {
	padding: 21px 60px 0px 430px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	color: #ffffff;
	line-height: 24px;
}

@media only screen and (min-width: 640px) {
	#featured-wrap {
		height: 614px;
		border-bottom: 3px solid #172633;
		overflow: hidden;
	}

	#featured {
		width: 1101px;
		height: 573px;
		margin: 0px auto 0px auto;
		padding: 82px 0px 0px 0px;
		border-bottom: 3px solid #172633;
		text-align: right;
	}

	.webp #tab-1 {
		background: url(/images/pane-1-bg.webp) left top no-repeat;
	}

	.no-webp #tab-1 {
		background: url(/images/pane-1-bg.jpg) left top no-repeat;
	}
}

@media only screen and (max-width: 639px) {
	#home-mobile-title,
	#experienced > p {
		display: block;
	}

	#featured-mobile-wrap {
		height: 388px;
		/*background: #2b180a url(/images/experience.jpg) no-repeat center top;*/
		background: #5d4a3c;
		background: -moz-linear-gradient(
			-45deg,
			#5d4a3c 5%,
			#5b4642 16%,
			#39251a 31%,
			#3f3923 51%,
			#3f3223 57%,
			#4f3025 71%,
			#514642 79%,
			#3f3223 87%,
			#261710 99%
		);
		background: -webkit-linear-gradient(
			-45deg,
			#5d4a3c 5%,
			#5b4642 16%,
			#39251a 31%,
			#3f3923 51%,
			#3f3223 57%,
			#4f3025 71%,
			#514642 79%,
			#3f3223 87%,
			#261710 99%
		);
		background: linear-gradient(
			135deg,
			#5d4a3c 5%,
			#5b4642 16%,
			#39251a 31%,
			#3f3923 51%,
			#3f3223 57%,
			#4f3025 71%,
			#514642 79%,
			#3f3223 87%,
			#261710 99%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d4a3c', endColorstr='#261710', GradientType=1);
		background-position: center top;
		border-bottom: 3px solid #172633;
		background-position: center;
	}

	#attorney-pic-div {
		height: 263px;
		width: 320px;
		z-index: 1;
		position: relative;
	}
}

/*==============================

====== 2.0 PC ONLY STYLES ======

================================*/

@media only screen and (min-width: 1101px) {
	/*========== 2.1 Header Styles ==========*/

	#featured-container {
		width: 1101px;
	}

	/*========== 2.2 Rest of Page Styles ==========*/
}

/*==================================

====== 3.0 TABLET ONLY STYLES ======

====================================*/

@media only screen and (min-width: 641px) and (max-width: 1100px) {
	/*========== 3.1 Header Styles ==========*/

	#mobile-homepage-text h1 {
		font-size: 28px;
		line-height: 30px;
		height: auto;
		color: #164267;
		font-weight: 700;
		font-family: Georgia, Times, serif;
		margin-bottom: 0;
	}

	#our-practice-areas #practice-areas div.row {
		margin-right: 0;
	}

	h1#ind {
		font-size: 32px;
	}

	#free-case-evaluation-home p.title {
		font-size: 30px !important;
	}

	#featured-container {
		width: 100%;
	}

	#about-us #about-bisnar-chase #mobile-homepage-text {
		padding: 0 20px 20px 20px;
	}

	#about-us #about-bisnar-chase #mobile-homepage-text p {
		text-align: center;
		padding: 0 53px;
	}

	#pa-caro-wrap > div {
		box-sizing: border-box;
	}

	#featured-wrap {
		/*background: #2b180a url("/images/featured-bg-tablet.jpg") no-repeat center top;*/
		background-size: 1100px 617px;
	}

	#featured-wrap-bg {
		background-image: url(/images/featured-bg-tablet-xs.jpg);
	}

	#featured {
		width: 100%;
		background: none;
	}

	.featured-prev {
		right: 0;
		border-radius: 0 0 0 0;
		z-index: 1000;
	}

	.featured-next {
		left: 0;
		border-radius: 0 0 0 0;
		z-index: 1000;
	}

	#tab-3 {
		background-position-x: center;
	}

	#tab-3 .pane-inner-text {
		padding-top: 0;
	}

	.pane-header-text {
		font-size: 48px;
	}

	#tab-3 .pane-header-text {
		padding-top: 10px;
	}

	#tab-3 .subtitle-container {
		top: 8px;
	}

	#featured-wrap h2,
	#featured-wrap h1 {
		line-height: 60px;
		margin: 15px auto 0 auto;
		padding: 0;
		text-align: center;
	}

	#featured .ui-tabs-panel,
	#tab-1,
	#tab-2,
	#tab-3,
	#tab-4 {
		width: 100%;
	}

	#featured > div {
		background-size: cover;
	}

	.pane-inner-text,
	#video-inner-text {
		padding-top: 65px;
	}

	/*	#tab-1 { background: url("/images/pane-1-bg-tablet.jpg") no-repeat center top; }

	#tab-3 { background: url("/images/pane-3-bg-tablet.jpg") no-repeat center top; }

	#tab-4 { background: url("/images/pane-4-bg-tablet.jpg") no-repeat center top; }*/
	#pane1-espanol {
		background: url('/images/pane-3-bg.jpg') left top no-repeat;
	}

	#pane1-espanol h1 {
		text-align: center;
	}

	p.subtitle {
		padding: 0 0 0 0;
		text-align: center;
	}

	p.pane-text {
		width: 600px;
		padding: 17px 0 0 0;
		margin: 0 auto 0 auto;
		text-align: center;
	}

	a.pane-link {
		/* margin: 10px auto 0 auto; */

		/* margin: 0 auto; */
		display: block;
		width: 100%;
		float: none;
		text-align: center;
	}

	.buttons {
		width: 600px;
		margin: 0 auto 0 auto;
		display: flex;
		justify-content: space-between;
	}

	a.contact-button {
		margin: 40px 25px 0 0;
	}

	a.brown-button {
		margin: 40px 25px 0 0;
	}

	.video-slide-header {
		font-size: 46px;
		text-align: center;
		padding: 95px 0 0 0;
		margin-bottom: 0;
	}

	.pane-overlay {
		width: 100%;
		-webkit-mask-image: linear-gradient(250deg, #000 45%, transparent 95%);
		-moz-mask-image: linear-gradient(250deg, #000 45%, transparent 95%);
		-o-mask-image: linear-gradient(250deg, #000 45%, transparent 95%);
		mask: linear-gradient(250deg, #000 45%, transparent 95%);
	}

	#tab-3 .pane-overlay {
		-webkit-mask-image: linear-gradient(
			0deg,
			transparent 63%,
			#0008 72%,
			#000 90%
		);
		-moz-mask-image: linear-gradient(
			0deg,
			transparent 63%,
			#0008 72%,
			#000 90%
		);
		-o-mask-image: linear-gradient(0deg, transparent 63%, #0008 72%, #000 90%);
		mask: linear-gradient(0deg, transparent 63%, #0008 72%, #000 90%);
	}

	/* #about-bisnar-chase {
    width: 600px;
  } */

	#free-consultation,
	.free-case-review-button {
		display: none !important;
	}

	#our-attorneys {
		display: none;
	}

	#home-contact-container {
		width: 100%;
		float: none;
		height: auto;
	}

	#free-case-evaluation-home {
		width: 100%;
		margin: 20px 0 0;
	}

	#free-case-evaluation-home #form-wrap {
		box-sizing: border-box;
		width: 100%;
	}

	#free-case-evaluation-home .iform2,
	#free-case-evaluation-home .tform2 {
		width: 100%;
	}

	#what-our-clients-say {
		width: 600px;
		margin: 0 auto 29px auto;
	}

	#featured-videos {
		margin: 1px 20px;
		width: 89%;
	}

	#watch-videos {
		margin: 1px 22px;
	}

	#watch-videos ul li {
		width: 193px;
	}

	#case-results {
		width: auto;
		padding: 0 20px 85px 20px;
	}

	#top-representation {
		width: auto;
		max-width: 90%;
		margin: 0 auto 0 auto;
		float: none;
	}

	#top-representation p.subtitle {
		padding: 38px 0 10px 0;
	}

	#results {
		/* this block is hidden but some minimum css required to avoid javascript error */
		display: none;
	}

	#practice-areas {
		width: 100%;
		min-height: 880px;
	}

	#practice-areas p {
		/* padding: 13px 100px 88px 100px; */
	}

	a.mycarousel-prev4 {
		float: none;
		position: absolute;
		margin: -57px 0 0 251px;
	}

	a.mycarousel-next4 {
		float: none;
		position: absolute;
		margin: -57px 0 0 316px;
	}

	#pa-caro-wrap {
		/* width: 100%; */
	}

	#pa-caro-wrap ul li {
		width: 300px;
	}

	a#full-list {
		display: none;
	}

	#pajump {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 30px;
	}

	#practice-areas p#jumptext {
		padding: 10px 0 18px 0;
		width: 100%;
	}

	select#paselect {
		width: 242px;
		height: 43px;
		padding: 5px 5px 5px 10px;
		border: 3px solid #8e7a5f;
		font-weight: normal;
		border-radius: 4px;
		color: #1b110c;
		font-size: 16px;
		background: #fff;
	}

	select#paselect option {
		font-size: 16px;
		color: #1b110c;
	}

	select#paselect option:hover {
		color: #52372d;
	}

	a#go {
		width: 41px;
		height: 41px;
		margin-left: 5px;
		background: #ffc14c;
		background: -moz-linear-gradient(top, #ffc14c 1%, #ec7d29 100%);
		background: -webkit-linear-gradient(top, #ffc14c 1%, #ec7d29 100%);
		background: linear-gradient(to bottom, #ffc14c 1%, #ec7d29 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc14c', endColorstr='#ec7d29',GradientType=0 );
		display: block;
		border-radius: 22px;
		background-color: orange;
		box-sizing: border-box;
		padding: 11px 10px;
		color: #573a1f;
	}

	a#go:hover {
		filter: Alpha(opacity= 85);
		-moz-opacity: 0.85;
		opacity: 0.85;
	}

	a#go:after {
		/* css arrow */
		border-color: #573c1f;
		border-style: solid;
		border-width: 4px 4px 0 0;
		content: '';
		display: block;
		height: 9px;
		margin: 3px 0 0 2px;
		transform: rotate(45deg);
		width: 9px;
	}

	#contact-now {
		width: 75%;
	}

	#contact-us,
	#contact-us-espanol {
		width: 600px;
		margin: 0 auto 0 auto;
	}

	#contact-now p#office-details {
		padding: 158px 0 0 0;
		line-height: 19px;
	}

	#why-choose-bc {
		font-size: 32px;
		line-height: auto;
	}

	#top-representation p {
		/* text-align: center; */
	}

	.algolia-search-text p {
		/* text-align: center; */
	}
}

@media only screen and (min-width: 641px) and (max-width: 845px) {
	#pa-caro-wrap > div {
		width: 50%;
		margin: 0 auto;
		box-sizing: initial;

		/*ugly as hell but whatever */
	}

	#pa-caro-wrap div:nth-child(3) {
		display: none;
	}

	#our-practice-areas {
		margin-bottom: -217px !important;
	}
}

/*==================================

====== 4.0 MOBILE ONLY STYLES ======

====================================*/

@media only screen and (min-width: 1px) and (max-width: 640px) {
	/*========== 4.1 Header Styles ==========*/

	#inner-content-box {
		padding: 0 !important;
	}

	/* .algolia-search-text p {
    text-align: center;
  } */

	#free-case-evaluation-home p.title {
		width: 90%;
		font-size: 30px !important;
	}

	#mobile-homepage-text h1 {
		font-size: 28px;
		line-height: 30px;
		height: auto;
		color: #164267;
		font-weight: 700;
		font-family: Georgia, Times, serif;
		margin-bottom: 0;
	}

	#mobile-homepage-text {
		width: 90%;
		margin: 0 auto;
	}

	#free-case-evaluation-home p.case-evaluation-subtext {
		width: 76%;
	}

	#free-case #mobile-homepage-text {
		padding: 0 10px;
	}

	h1#ind {
		font-size: 27px;
		padding: 0;
		padding-top: 39px;
	}

	#featured-wrap {
		display: none;
	}

	#featured-mobile-wrap {
		display: block;
	}

	#featured-mobile {
		width: 100%;
		height: 388px;
		margin: 0 auto 0 auto;
		padding: 0 0 0 0;
		border-bottom: 3px solid #172633;

		/* text-align: center; */
	}

	#experienced {
		width: 100%;
		height: 125px;
		margin: 0 auto 0 auto;
		padding: 0 0 0 0;
	}

	#experienced #home-mobile-title {
		padding: 80px 20px 0;
		font-family: 'times-new-roman', times, serif;
		font-size: 46px;
		line-height: normal;
		color: #ece5cd;
		text-align: center;
		font-weight: 100;
	}

	#template-espanol #experienced #home-mobile-title {
		line-height: 40px;
		font-size: 36px;
	}

	#experienced > p {
		padding: 0;
		margin: 6px 0 0 0;
		font-size: 15px;
		color: #bca67a;
		text-transform: uppercase;
		line-height: 24px;
		font-weight: bold;
		text-align: center;
	}

	#experienced a.contact-button {
		margin: 150px auto 0;
		float: none;
		position: relative;
		z-index: 100;
	}

	#template-espanol #experienced .contact-button {
		margin: 100px auto 0;
	}

	#about-us {
		/*background: #ffffff url("/images/burst-mobile.jpg") repeat-x center top;*/
	}

	#about-bisnar-chase {
		width: 100%;
		margin: 0 auto 0 auto;
	}

	#featured-videos {
		width: 268px;
		margin: 0 auto;
	}

	#featured-videos li {
		width: 268px;
	}

	.featured-image-container {
		width: 64%;
		margin: 10px auto 0;
		text-align: center;
		box-sizing: border-box;
	}

	#our-attorneys,
	#what-our-clients-say p.see-all-testimonials {
		display: none;
	}

	#about-us #about-bisnar-chase a.free-case-review-button {
		display: none !important;
	}

	#home-contact-container {
		width: 100%;
		float: none;
		height: auto;
	}

	#free-case-evaluation-home {
		width: 100%;
		margin: 35px 0 0;
	}

	#free-case-evaluation-home #form-wrap {
		box-sizing: border-box;
		width: 90%;
		padding: 0;
	}

	#free-case-evaluation-home .iform2,
	#free-case-evaluation-home .tform2 {
		width: 100%;
		box-sizing: border-box;
		border-radius: 4px;
		margin: 6px 0 14px;
	}

	#free-case-evaluation-home .iform2 {
		height: 40px;
	}

	#free-case-evaluation-home .tform2 {
		height: 100px;
	}

	#what-our-clients-say,
	#results,
	#bisnar-chase-difference {
		display: none !important;
	}

	#case-results {
		width: auto;
		padding: 0 20px 85px 20px;
	}

	#top-representation {
		/* width: auto; */
		width: 90%;
		float: none;
		margin: 0 auto 0 auto;
	}

	#top-representation p.subtitle {
		padding: 38px 0 10px 0;
	}

	#practice-areas {
		width: 320px;
		min-height: 480px;
		height: auto;
	}

	#practice-areas p {
		padding: 13px 10px 40px 10px;
	}

	#practice-areas p.title {
		padding: 34px 0 15px 0;
		font-size: 27px;
		line-height: 30px;
	}

	#our-practice-areas {
		margin-bottom: -94px !important;
	}

	#pa-caro-wrap {
		display: none;
	}

	a#full-list {
		display: none;
	}

	#pajump {
		display: flex;
		justify-content: space-around;
		margin: 0 0 0 0;
	}

	#practice-areas p#jumptext {
		display: none;
	}

	select#paselect {
		width: 242px;
		height: 43px;
		padding: 5px 5px 5px 10px;
		margin: 0 auto 20px auto;
		border: 3px solid #8e7a5f;
		font-weight: normal;
		border-radius: 4px;
		color: #1b110c;
		font-size: 16px;
		background: #fff;
		display: block;
	}

	select#paselect option {
		font-size: 16px;
		color: #1b110c;
	}

	select#paselect option:hover {
		color: #52372d;
	}

	a#go {
		width: 41px;
		height: 41px;
		margin-left: 5px;
		background: #ffc14c;
		background: -moz-linear-gradient(top, #ffc14c 1%, #ec7d29 100%);
		background: -webkit-linear-gradient(top, #ffc14c 1%, #ec7d29 100%);
		background: linear-gradient(to bottom, #ffc14c 1%, #ec7d29 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc14c', endColorstr='#ec7d29',GradientType=0 );
		display: block;
		border-radius: 22px;
		background-color: orange;
		box-sizing: border-box;
		padding: 11px 10px;
		color: #573a1f;
	}

	a#go:hover {
		filter: Alpha(opacity= 85);
		-moz-opacity: 0.85;
		opacity: 0.85;
	}

	a#go:after {
		/* css arrow */
		border-color: #573c1f;
		border-style: solid;
		border-width: 4px 4px 0 0;
		content: '';
		display: block;
		height: 9px;
		margin: 3px 0 0 2px;
		transform: rotate(45deg);
		width: 9px;
	}

	#inner-content-box .algolia-search-text p {
		/* text-align: center; */
	}

	#contact-now {
		width: 90%;

		/*background: url("/images/contact-bg-tablet.jpg") no-repeat center top;*/
	}

	#template-espanol #contact-now {
		padding: 0 0 80px;
	}

	#contact-us,
	#contact-us-espanol {
		width: 320px;
		margin: 0 auto 0 auto;
	}

	#contact-us p.title,
	#contact-us-espanol p.title {
		padding: 100px 0 33px 0;
		line-height: 30px;
		font-size: 27px;
		text-align: center;
		background: none;
	}

	#contact-us p.subtext,
	#contact-us-espanol p.subtext {
		display: none;
	}

	#contact-now p#office-details {
		padding: 90px 0 0 0;
		line-height: 19px;
	}

	#contact-lt {
		width: 272px;
		margin: 0 auto 0 auto;
		float: none;
	}

	#contact-rt {
		width: 272px;
		margin: 0 auto 0 auto;
		float: none;
	}

	.tform {
		width: 262px;
	}

	#why-choose-bc {
		font-size: 22px;
		line-height: 26px;
	}

	#mobile-homepage-text p {
		/* text-align: center; */
	}
}

@media only screen and (min-width: 1px) and (max-width: 350px) {
	#experienced #home-mobile-title {
		font-size: 36px;
		line-height: normal;
		white-space: nowrap;
	}
}
