/******************************

Stylesheet for BestAttorney.com blog

===============================

====== TABLE OF CONTENTS ======

===============================

1.0 CONTENT STYLES
2.0 PC ONLY STYLES
3.0 TABLET ONLY STYLES

4.0 MOBILE ONLY STYLES

******************************/

/*===============================

======= 1.0 CONTENT STYLES ======

=================================*/

/*========== 1.1 Primary Styling ==========*/

#sidebar {
	width: 387px;
	float: right;
	padding: 160px 0;
}

.meta-box-wrap {
	text-align: left;
	margin: 0 0 0 0;
	font-family: Verdana, Helvetica, sans-serif;
}

.meta-box {
	border-top: 1px solid #c6c6c6;
	background: white;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	display: block;
	width: 100%;
}

.meta-inner-box {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#content .meta-inner-box p {
	margin: 0 0 0 0;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}

.meta-box a {
	color: #121212;
	text-decoration: none;
}

img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
	border: none;
	max-width: 90%;
	height: auto;
}

#post-image-thumbnail img.alignright {
	margin: 18px 0 0 0;
	max-width: 100%;
}

div.alignright {
	float: right;
	margin: 18px 0 0 20px;
}

img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
	border: none;
	max-width: 90%;
	height: auto;
}

div.alignleft {
	float: left;
	margin: 18px 20px 0 0;
}

#content .wp-caption-text {
	font-size: 12px;
	padding-bottom: 0;
	line-height: 12px;
}

.category-description {
	border-radius: 5px;
	border: 1px solid #bbb;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 200px -20px rgb(224, 241, 255) inset;
	/* background-image: url('/images/backgrounds/lines-pattern-white.jpg'); */
	background-repeat: repeat;
	background-size: 10px;
}

#navi {
	display: flex;
	justify-content: space-between !important;
}

/* #navi > div {
	width: auto;
} */

#navi-previous {
	width: auto !important;
}

#navi-next {
	width: auto !important;
}

/*========== 1.2 Text Styling ==========*/

#h1title {
	width: 1088px;
	margin: 0 0 20px 0;
	border-bottom: 1px solid black;
	color: #275679;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#content {
	margin-top: 10px;
}

#content h2 {
	margin-top: 0;
}

h1 {
	line-height: 45px;
	font-size: 28px;
	color: #ece5cd;
	padding: 20px 0 16px 0;
	margin: 0 0 20px 0;
	font-weight: normal;
	text-align: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 td,
h1 td a {
	color: #275679;
}

h2 {
	line-height: 30px;
	font-size: 30px;
	font-weight: bold;
}

h2 a {
	line-height: 36px !important;
	color: #8c795e;
	font-weight: normal;
	text-decoration: none;
	font-family: sans-serif;
}

h3 {
	line-height: 22px;
	font-size: 24px;
	color: #3f5669;
	padding: 20px 0 10px 0;
	margin: 0 0 0 0;
	font-weight: normal;
	text-align: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
	line-height: 22px;
	font-size: 20px;
	color: #3f5669;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
}

.author-text {
	font-size: 10px;
	margin: 5px 0 10px 20px;
	padding: 0 0 0 0;
	line-height: 10px;
}

#content .author-text p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 10px;
}

/*========== 1.3 Form Styling ==========*/

/*Comment Forms*/

.cformlt,
p.cformlt,
#content p.cformlt {
	width: 30%;
	float: left;
	clear: left;
	text-align: right;
	font-weight: bold;
	padding: 13px 0 0 0;
}

.cformrt,
p.cformrt,
#content p.cformrt {
	width: 68%;
	float: right;
	clear: right;
	text-align: left;
}

.cformrt label,
p.cformrt label,
#content p.cformrt label,
p.cformrt label {
	font-weight: bold;
	padding: 0 0 0 10px;
	margin: 0 0 -10px 0;
}

/*========== 1.4 Sidebar Styling ==========*/

#sb-custom-wrap ul {
	padding: 25px 25px 15px;
	margin: 0 0 0 0;
	list-style: none;
	font-size: 16px;
	line-height: 18px;
}

#sb-custom-wrap ul li a {
	color: #e4ecf5 !important;
}

#sb-custom-wrap ul li .recent-posts-category {
	padding: 0;
	font-size: 12px;
	display: inline-block;
}

#sb-custom-wrap p {
	padding: 16px 40px 31px 40px;
	margin: 0 0 0 0;
	color: #a5acb4;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

#sb-custom-wrap ul li .recent-posts-category a {
	color: #acc1da !important;
}

#sb-custom-wrap ul:nth-child(2) li {
	border-bottom: 1px solid white;

	/* min-height: 76px; */

	/* margin-bottom: 6px; */
}

#sb-custom-wrap ul li {
	padding: 8px 0 8px 0;
	margin: 0 0 0 0;
}

#sb-custom-wrap ul li .recent-posts-image {
	margin: 4px 15px 0 0;
}

#categories-list,
#year-list {
	padding: 42px 0 20px 0;
	background-color: #223341;
}

#categories-list p.title,
#year-list p.title {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color: #fff;
	font-size: 23px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}

#year-list {
	margin-bottom: 50px;
}

#year-list ul {
	padding: 20px 0 0 40px;
	list-style-type: none;
	column-count: 4;
	-moz-column-count: 4;
	-webkit-column-count: 4;
}

#year-list .archive-bullet {
	color: white;
}

#categories-list ul {
	list-style-type: none;
	padding: 25px 50px 15px 50px;
}

#categories-list .cat-item {
	margin: 10px 0;
}

#categories-list .cat-item a,
#year-list li a {
	color: white;
}

/*==============================

====== 2.0 PC ONLY STYLES ======

================================*/

@media only screen and (min-width: 1101px) {
	#content {
		width: 950px;
		float: left;
		margin: 10px 0 0 20px;
		text-align: justify;
		line-height: 27px;
	}
}

/*==================================

====== 3.0 TABLET ONLY STYLES ======

====================================*/

@media only screen and (min-width: 641px) and (max-width: 1100px) {
	#h1blogtitle {
		width: 100%;
		margin: 220px 0 20px 0;
	}

	#content {
		width: 100%;
		float: none;
		margin: 10px 0 0;
		padding: 0 20px;
		text-align: justify;
		line-height: 27px;
		box-sizing: border-box;
	}

	#sidebar {
		display: none;
	}

	#h1title {
		width: auto;
	}
}

/*==================================

====== 4.0 MOBILE ONLY STYLES ======

====================================*/

@media only screen and (min-width: 1px) and (max-width: 640px) {
	.cformlt,
	p.cformlt,
	#content p.cformlt,
	.cformrt,
	p.cformrt,
	#content p.cformrt {
		width: 100%;
		text-align: left;
		float: none;
	}

	#h1blogtitle {
		width: 100%;
		margin: 40px 0 20px 0;
		padding: 0 10px;
		left: 0;
		font-size: 32px;
		line-height: 40px;
	}

	#content {
		width: 100%;
		float: none;
		padding: 10px 20px 0 20px;
		margin: 0;
		text-align: justify;
		line-height: 27px;
		box-sizing: border-box;
	}

	#sidebar {
		display: none;
	}

	#title-head #title-head-inner #header-bar-right {
		display: none !important;
	}

	#content #h1title {
		height: auto;
		padding-top: 10px;
		font-size: 20px;
		overflow: hidden;
		margin-bottom: 0;
		border-bottom: 1px solid black;
		width: 100%;
		text-align: center;
	}
}

@media only screen and (min-width: 1px) and (max-width: 515px) {
	#post-image-thumbnail {
		width: 100% !important;
		max-width: 100% !important;
	}

	#post-image-thumbnail .wp-post-image {
		width: 100%;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1450px) {
	#content {
		width: 645px;
	}
}
