/******************************

last updated 12/1/16

Stylesheet for BestAttorney.com practice areas and location pages.

===============================

====== TABLE OF CONTENTS ======

===============================

1.0 CONTENT STYLES

2.0 PC ONLY STYLES

3.0 TABLET ONLY STYLES

4.0 MOBILE ONLY STYLES



******************************/

/*==============================

====== 1.0 CONTENT STYLES ======

================================*/

h1#h1pa,
h1#h1geo {
	height: auto;
	color: #8b7a60;
	padding: 32px 0 10px 0;
	margin: 0 0 0 0;
	z-index: 20;
	position: relative;
}

h1#h1pa a,
h1#h1geo a {
	color: #8b7a60;
}

.flt3col {
	width: 31%;
	float: left;
	margin: 0 0 0 2%;
	text-align: left;
}

#pa-background-container {
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: 1;
}

#pa-background-nested {
	position: absolute;
	left: -13px;
	width: 103%;
	height: 105%;
	z-index: 1;
}

#pa-header {
	width: 1100px;
	height: 400px;
	z-index: 10;
	position: relative;
}

#contact-form-panel {
	width: 630px;
	float: right;
	margin: 0 0 0 0;
}

#contact-form-panel p {
	padding: 24px 0 0 0;
	margin: 0;
	font-size: 16px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	color: #fff;
	line-height: 24px;
	text-align: left;
	text-shadow: 1px 1px 2px #000;
}

#contact-form-panel p span {
	text-decoration: underline;
}

#contact-form-panel p.title {
	padding: 37px 0 5px;
	margin: 0;
	font-size: 28px;
	font-style: normal;
	line-height: 30px;
	margin-bottom: -5px;
	box-shadow: 0 2px 2px -2px #92824b;
}

#contact-form-pa {
	width: 570px;
	margin: 0 auto 0 auto;
}

#centered-content-pa-box {
	width: 1400px;
	padding: 38px 0 10px 0;
	margin: 0 auto 0 auto;
}

.pa-sidebar {
	padding: 98px 0 30px 0 !important;
}

#sidebar .sidebar-buttons li a {
	height: 54px;
	display: block;
	line-height: 54px;
	color: #180f0a;
	font-size: 13px;
	text-decoration: none;
	font-weight: normal;
	/* width: 262px; */
	width: auto;
	padding: 0 0 0 15px;
	position: relative;
	transition: transform 0.4s;
	-webkit-transition: -webkit -transform 0.4s;
	-ms-transition: -ms-transform 0.4s;
}

#sidebar .sidebar-buttons li a {
	border-radius: 4px;
	border: 1px solid #866d56;
	box-shadow: 0 0 5px -1px #f9f6de;
	background: #e9e1ca;
	background: -moz-linear-gradient(top, #fff 0%, #e9e1ca 100%);
	background: -webkit-linear-gradient(top, #fff 0%, #e9e1ca 100%);
	background: linear-gradient(to bottom, #fff 0%, #e9e1ca 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e1ca',GradientType=0 );
}

#sidebar .sidebar-buttons li a:hover {
	color: #fff;
	position: relative;
	-ms-transform: translate(3px, 0);
	-webkit-transform: translate(3px, 0);
	transform: translate(3px, 0);
	background: #5b4c44;
	background: -moz-linear-gradient(
		top,
		#5b4c44 1%,
		#60514b 50%,
		#55433c 50%,
		#5b4c44 100%
	);
	background: -webkit-linear-gradient(
		top,
		#5b4c44 1%,
		#60514b 50%,
		#55433c 50%,
		#5b4c44 100%
	);
	background: linear-gradient(
		to bottom,
		#5b4c44 1%,
		#60514b 50%,
		#55433c 50%,
		#5b4c44 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b4c44', endColorstr='#5b4c44',GradientType=0 );
}

.sidebar-buttons li a:before {
	content: '\f111';
	font-family: 'custom-icons';
	font-size: 16px;
	text-align: right;
	float: right;
	margin-bottom: -1px;
	position: relative;
	bottom: 0;
	right: 33px;
	color: rgba(0, 0, 0, 0);
}

.sidebar-buttons li a:after {
	content: '\f0a9';
	float: right;
	color: #172634;
	font-size: 18px;
	font-family: 'custom-icons';
	position: relative;
	right: 19px;
}

.sidebar-buttons li a:hover:before {
	color: #fff;
	content: '\f111';
}

.sidebar-buttons li a:hover:after {
	color: #ea9130;
}

#sidebar .sidebar-buttons li a:hover {
	color: #fff;
	position: relative;
	-ms-transform: translate(3px, 0); /* IE 9 */
	-webkit-transform: translate(3px, 0); /* Safari */
	transform: translate(3px, 0);
}

/* Medical Devices Recalls Widget */

.medical-recall-link,
.medical-recall-link:hover {
	color: #a5acb4 !important;
}

.no-webp .geo-results {
	background: url('/images/top-case-results-notext.jpg') no-repeat center top !important;
}

.webp .geo-results {
	background: url('/images/top-case-results-notext.webp') no-repeat center top !important;
}

.dangerous-intersections {
	width: auto;
	margin: 20px auto 20px auto;
	padding: 0 0 20px 0;
	text-align: center;
	border-bottom: 1px solid #dad1b5;
}

#content .dangerous-intersections p.title {
	line-height: 24px;
	padding: 10px 12px;
	margin: 0;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	background: #2f485d;
}

#content .dangerous-intersections p.sub-title {
	margin: 6px 0 6px 0;
	line-height: 18px;
	font-size: 16px;
	color: #2a699d;
	font-weight: 700;
	text-align: center;
}

#content .dangerous-intersections p.sub-title a {
	color: #2a699d;
}

#content .dangerous-intersections p.sub-title a:hover {
	color: #2a699d;
}

.big-title {
	font-size: 24px !important;
}

#content .dangerous-intersections ul {
	max-width: 200px;
	padding: 0;
	margin: 0 auto;
	line-height: 22px;
	list-style: none;
	font-size: 14px;
	color: #252525;
	text-align: center;
}

#content .dangerous-intersections ul li {
	padding: 0;
	margin: 0;
	background: #f7f4e8;
}

#content .dangerous-intersections ul li.item-alt {
	padding: 3px 0 3px 0;
	background: none;
}

.gmap-loc {
	width: 100%;
	max-width: 471px;
	height: 250px;
	border: none;
	margin: 20px auto 0 auto;
}

img.imgstreet {
	width: auto;
	max-width: 100%;
	height: 250px;
	margin: 20px auto 0 auto;
	display: block;
}

img.img-mini-map {
	width: 100%;
	max-width: 250px;
	height: auto;
	margin: 20px auto 20px auto;
	display: block;
}

#custom-related-links {
	background: #ebe5cf;
	margin-top: 75px;
}

#related-links {
	background: #ebe5cf;
	width: 1100px;
	margin: 0 auto;
	padding: 0 0 85px 0;
}

.pa-icon {
	width: 86px;
	height: 86px;
	background: #fff;
	margin: -43px -43px 0 0;
	position: absolute;
	right: 50%;
	display: block;
	border-radius: 2px;
}

#icon-accident-injury {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-auto-defects {
	background: #fff url('/images/icon-auto-defects.jpg') no-repeat center 3px;
}

#icon-sua {
	background: #fff url('/images/icon-auto-defects.jpg') no-repeat center 3px;
}

#icon-bicycle-accidents {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-boat-accidents {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-bus-accidents {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-car-accidents {
	background: #fff url('/images/icon-car-accidents.jpg') no-repeat center 3px;
}

#icon-catastrophic-injury {
	background: #fff url('/images/icon-catastrophic-injury.jpg') no-repeat center
		3px;
}

#icon-clergy-abuse {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-construction-accidents {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-defective-products {
	background: #fff url('/images/icon-defective-products.jpg') no-repeat center
		3px;
}

#icon-dog-bites {
	background: #fff url('/images/icon-dog-bites.jpg') no-repeat center 3px;
}

#icon-dui {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-employment-law {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-food-poisoning {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-funeral-home {
	background: #fff url('/images/icon-wrongful-death.jpg') no-repeat center 3px;
}

#icon-head-injury {
	background: #fff url('/images/icon-brain-injury.jpg') no-repeat center 3px;
}

#icon-job-injury {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-legal-malpractice {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-medical-devices {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-motorcycle-accidents {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-nursing-home {
	background: #fff url('/images/icon-nursing-home.jpg') no-repeat center 3px;
}

#icon-pedestrian-accidents {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-personal-injury {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-premises-liability {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-toxic-substance {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-train-accidents {
	background: #fff url('/images/icon-personal-injury.jpg') no-repeat center 3px;
}

#icon-truck-accidents {
	background: #fff url('/images/icon-truck-accidents.jpg') no-repeat center 3px;
}

#icon-wrongful-death {
	background: #fff url('/images/icon-wrongful-death.jpg') no-repeat center 3px;
}

#related-links p.title {
	padding: 62px 0 38px 0;
	text-align: center;
	color: #010100;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
}

#related-links p.title a {
	color: #010100;
	text-decoration: none;
	font-weight: normal;
}

#related-links p.title a:hover {
	color: #010100;
	text-decoration: none;
}

#related-links ul {
	list-style: none;
}

#related-links ul li {
	border-bottom: 1px solid #bcb7a6;
	padding: 10px 0 10px 0;
	line-height: 20px;
	font-size: 16px;
	color: #62543f;
	margin: -1px 1% 0 1%;
	display: table;
	float: left;
	height: 40px;
	width: 31%;
	border-top: 1px solid #bcb7a6;
}

#related-links ul li a {
	color: #62543f;
	padding-right: 30px;
	text-decoration: none;
	font-weight: normal;
	background: url('/images/arrow-related.png') no-repeat right center;
	display: table-cell;
	vertical-align: middle;
}

#related-links ul li a:hover {
	color: #62543f;
	text-decoration: none;
	background: url('/images/arrow-related-hover.png') no-repeat right center;
}

.arr-footer {
	margin: 38px 0 0 !important;
}

a#see-all-awards-alt {
	width: 173px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	padding: 0 12px 0 0;
	margin: 14px auto 25px auto;
	display: block;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

a#see-all-awards-alt:after {
	background: url('/images/sprites-home.png') no-repeat -1px -14px;
	content: '';
	width: 5px;
	height: 9px;
	float: right;
	position: relative;
	top: 5px;
	left: 10px;
}

a#see-all-awards-alt:hover {
	color: #dedede;
}

.iform3 {
	width: 260px;
	height: 39px;
	margin: 0 0 10px 0;
	border: 1px solid #b7bfc5;
	background: #fff;
	display: block;
	border-radius: 3px;
}

.tform3 {
	width: 267px;
	height: 131px;
	margin: 0 0 17px 0;
	padding-top: 10px;
	border: 1px solid #b7bfc5;
	background: #fff;
	float: right;
	border-radius: 3px;
}

#contact-form-pa .subform2 {
	clear: both;
	float: right;
	margin-right: 31px;
}

#contact-form-pa #pa-form-left {
	float: left;
}

/*==================================

====== 2.0 PC ONLY STYLES ======

====================================*/

@media only screen and (min-width: 1101px) {
	h1#h1pa,
	h1#h1geo {
		width: 1100px;
	}

	#content-pa {
	}

	#pa-background-container {
		height: 448px;
	}

	.no-webp #pa-background-container {
		background: #150b02 url(/images/content-pa-bg.jpg) no-repeat top;
	}

	.webp #pa-background-container {
		background: #150b02 url(/images/content-pa-bg.webp) no-repeat top;
	}
}

/*==================================

====== 3.0 TABLET ONLY STYLES ======

====================================*/

@media only screen and (min-width: 641px) and (max-width: 1100px) {
	h1#h1pa,
	h1#h1geo {
		padding: 0 0 10px 0;
		margin: 0 0 0 0;
	}

	#pa-background-container {
		height: 250px;
	}

	#pa-background-nested {
		background: url(/images/content-pa-bg-mobile.jpg) no-repeat 0 0;
		background-size: contain;
		background-color: #130a03;
		filter: blur(3px);
		margin-top: -5px;
	}

	#pa-header {
		width: auto;
		height: 212px;
		margin-bottom: 36px;
		border-bottom: 2px solid #162633;
		box-shadow: 0 0 200px 57px #e6ddc3;
	}

	#contact-form-panel {
		width: 500px;
		float: none;
		margin: 0 auto 0 auto;
	}

	#contact-form-panel p {
		text-align: center;
	}

	#contact-form-panel p.title {
		background: none !important;
		border-bottom: 1px solid #977759;
	}

	.pa-head-injury #contact-form-panel p.title {
		border-bottom: 1px solid #c3ad97;
	}

	.pa-elder-abuse #contact-form-panel p.title {
		border-bottom: 1px solid #baab96;
	}

	.pa-dog-bites #contact-form-panel p.title {
		border-bottom: 1px solid #ad9178;
	}

	.pa-auto-defects #contact-form-panel p.title {
		border-bottom: 1px solid #977759;
	}

	.pa-sua #contact-form-panel p.title {
		border-bottom: 1px solid #977759;
	}

	.pa-premises #contact-form-panel p.title {
		border-bottom: 1px solid #6fa3c0;
	}

	.pa-defective-product #contact-form-panel p.title {
		border-bottom: 1px solid #cab08a;
	}

	.pa-wrongful-death #contact-form-panel p.title {
		border-bottom: 1px solid #74a0bb;
	}

	.pa-employment-law #contact-form-panel p.title {
		border-bottom: 1px solid #ab977c;
	}

	.pa-long-term-injury #contact-form-panel p.title {
		border-bottom: 1px solid #83adcf;
	}

	.geo-los-angeles #contact-form-panel p.title {
		border-bottom: 1px solid #56829a;
	}

	.geo-newport-beach #contact-form-panel p.title {
		border-bottom: 1px solid #7da9c4;
	}

	.geo-san-diego #contact-form-panel p.title {
		border-bottom: 1px solid #7aabd0;
	}

	.geo-riverside #contact-form-panel p.title {
		border-bottom: 1px solid #8caec9;
	}

	.geo-fresno #contact-form-panel p.title {
		border-bottom: 1px solid #cab4a0;
	}

	.geo-anaheim #contact-form-panel p.title {
		border-bottom: 1px solid #afcea3;
	}

	.geo-long-beach #contact-form-panel p.title {
		border-bottom: 1px solid #97afba;
	}

	.geo-orange-county #contact-form-panel p.title {
		border-bottom: 1px solid #7ab3c7;
	}

	#contact-form-pa {
		display: none;
	}

	.iform3 {
		width: 253px;
		height: 35px;
		margin: 0 0 8px 0;
		border: 1px solid #474747;
		background: #fff;
		border-radius: 4px;
		float: none;
	}

	.tform3 {
		width: 275px;
		height: 120px;
		margin: 0 0 20px 0;
		border: 1px solid #474747;
		background: #fff;
		border-radius: 4px;
		line-height: 20px;
		padding-top: 5px;
	}

	.subform3 {
		width: 213px;
		height: 39px;
		margin: 0 0 0 0;
		border: none;
		background: url('/images/sprites-sidebar.png') -756px 0;
		cursor: pointer;
		display: block;
		float: right;
	}

	#centered-content-pa-box {
		width: auto;
	}

	.pa-sidebar {
		padding: 0 0 30px 0 !important;
	}

	#related-links {
		width: auto;
	}

	#related-links ul {
		display: block;
		width: 80%;
		margin: 0 auto 0 auto;
		line-height: 20px;
		font-size: 16px;
		color: #62543f;
		width: 100%;
	}

	#related-links ul li a {
		display: block;
	}
}

/*==================================

====== 4.0 MOBILE ONLY STYLES ======

====================================*/

@media only screen and (min-width: 1px) and (max-width: 640px) {
	h1#h1pa,
	h1#h1geo {
		line-height: 35px;
		font-size: 26px;
		margin: 0 0 -30px 0;
	}

	.flt3col {
		width: 100%;
		float: none;
	}

	#pa-background-container {
		height: 220px;
	}

	#pa-background-nested {
		filter: blur(3px);
		background: url(/images/content-pa-bg-mobile.jpg) no-repeat top;
		background-size: cover;
	}

	#pa-header {
		width: auto;
		height: 180px;
		border-bottom: 2px solid #162633;

		/* box-shadow: 0 0 200px 57px #e6ddc3; */
	}

	#contact-form-panel {
		width: 250px;
		float: none;
		margin: 0 auto 0 auto;
	}

	#contact-form-panel p {
		padding: 14px 0 0 0;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
	}

	#contact-form-panel p.title {
		padding: 17px 0 0 0;
		font-size: 20px;
		line-height: 22px;
		border-bottom: 1px solid #977759;
		background: none !important;
	}

	.pa-head-injury #contact-form-panel p.title {
		border-bottom: 1px solid #c3ad97;
	}

	.pa-elder-abuse #contact-form-panel p.title {
		border-bottom: 1px solid #baab96;
	}

	.pa-dog-bites #contact-form-panel p.title {
		border-bottom: 1px solid #ad9178;
	}

	.pa-auto-defects #contact-form-panel p.title {
		border-bottom: 1px solid #977759;
	}

	.pa-sua #contact-form-panel p.title {
		border-bottom: 1px solid #977759;
	}

	.pa-premises #contact-form-panel p.title {
		border-bottom: 1px solid #6fa3c0;
	}

	.pa-defective-product #contact-form-panel p.title {
		border-bottom: 1px solid #cab08a;
	}

	.pa-wrongful-death #contact-form-panel p.title {
		border-bottom: 1px solid #74a0bb;
	}

	.pa-employment-law #contact-form-panel p.title {
		border-bottom: 1px solid #ab977c;
	}

	.pa-long-term-injury #contact-form-panel p.title {
		border-bottom: 1px solid #83adcf;
	}

	.geo-los-angeles #contact-form-panel p.title {
		border-bottom: 1px solid #56829a;
	}

	.geo-newport-beach #contact-form-panel p.title {
		border-bottom: 1px solid #7da9c4;
	}

	.geo-san-diego #contact-form-panel p.title {
		border-bottom: 1px solid #7aabd0;
	}

	.geo-riverside #contact-form-panel p.title {
		border-bottom: 1px solid #8caec9;
	}

	.geo-fresno #contact-form-panel p.title {
		border-bottom: 1px solid #cab4a0;
	}

	.geo-anaheim #contact-form-panel p.title {
		border-bottom: 1px solid #afcea3;
	}

	.geo-long-beach #contact-form-panel p.title {
		border-bottom: 1px solid #97afba;
	}

	.geo-orange-county #contact-form-panel p.title {
		border-bottom: 1px solid #7ab3c7;
	}

	#contact-form-pa {
		display: none;
	}

	.pa-call {
		margin-top: -190px !important;
	}

	#centered-content-pa-box {
		width: auto;
	}

	.pa-sidebar {
		padding: 0 0 30px 0 !important;
	}

	#related-links {
		width: auto;
	}

	#related-links p.title {
		font-size: 24px;
		line-height: 30px;
	}

	#related-links ul {
		display: block;
		width: 90%;
		margin: 0 auto 0 auto;
		line-height: 20px;
		font-size: 16px;
		color: #62543f;
	}

	#related-links ul li {
		border-bottom: 1px solid #bcb7a6;
		padding: 10px 0 10px 0;
		float: none;
		display: block;
		width: 100%;
		height: auto;
	}

	#related-links ul li a {
		display: block;
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1450px) {
	#centered-content-pa-box {
		width: 1100px;
		/* padding: 38px 0 0 0; */
		/* margin: 0 auto 0 auto; */
	}

	#content {
		width: 645px;
	}
}

@media only screen and (max-width: 1100px) {
	#sidebar .sidebar-buttons li a {
		width: 262px;
	}
}
