*,
.vanilla-slide h1,
.vanilla-slide h2,
.vanilla-slide h4,
.vanilla-slide p,
a.pane-link,
body,
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#nations-top-badge {
  position: absolute;
  left: 507px;
  top: 22.6%;
  z-index: 50;
}
#vanilla-slideshow #vanilla-slide-3 p.subtext-2 {
  max-width: 342px;
}
#vanilla-slideshow .vanilla-slide#vanilla-slide-2 img {
  object-position: 50% 68%;
}
#featured-mobile-wrapper {
  display: none;
}
#vanilla-slideshow-container {
  width: 100vw;
  height: calc(100vh - 124px);
  position: relative;
  overflow: none;
}
.text-container ul#slide-4-list a,
.text-container ul#slide-4-list li {
  padding-left: 20px;
}
a#brown-button-new,
a#contact-button-new {
  height: 45px;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  border-left: none !important;
}
#opacity-container {
  border-top: calc(100vh - -47px) solid #000;
  border-right: 700px solid transparent;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 600px;
  padding: 30px;
}
.text-container {
  margin: 0 auto;
  position: absolute;
  top: 0;
  max-width: 700px;
  height: 100%;
  left: 0;
}
.text-container p.subtext a {
  text-decoration: none;
}
.text-container .sub-title,
.text-container .subtext,
.text-container .title {
  padding-left: 20px;
}
.vanilla-slide p {
  font-weight: 600;
  padding-top: 20px;
  line-height: 35px;
  font-size: 17px;
  text-shadow: 1.3px 1.3px 0 #000;
}
.vanilla-slide h1,
.vanilla-slide p {
  color: #fff;
}
.vanilla-slide span.title {
  text-shadow: 1.5px 1.5px 0 #000;
  font-size: 51px;
  font-style: italic;
  color: #fff;
  display: block;
  font-weight: 400;
  padding-top: 50px;
}
.vanilla-slide span.sub-title {
  display: block;
  font-size: 19px;
  text-shadow: 1px 1px 0 #000;
  line-height: 22px;
  font-weight: 600;
}
.vanilla-slide video {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-position: 58% 50%;
  object-fit: cover;
  z-index: -100;
}
a#brown-button-new,
a#contact-button-new {
  color: #fff;
  z-index: 500;
  position: absolute;
  left: 0;
}
.video-container {
  height: calc(100vh - 177px);
  width: 100vw;
  overflow: hidden;
}
a#brown-button-new p,
a#contact-button-new p {
  color: #fff;
  font-size: 16px;
  padding-top: 4.5px;
}
a#contact-button-new {
  bottom: 200px;
  width: 280px;
}
a#brown-button-new {
  bottom: 130px;
  border: 2px solid #fff;
  background: 0 0;
  width: 200px;
}
a#brown-button-new p.button-title {
  padding-top: 4.5px;
}
#vanilla-slideshow .vanilla-slide {
  margin-top: 53px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#vanilla-slideshow .vanilla-slide.vanilla-active,
#vanilla-slideshow-next:hover,
#vanilla-slideshow-previous:hover {
  opacity: 1;
}
#vanilla-slideshow .vanilla-slide img {
  width: 100vw;
  height: calc(100vh - 177px);
  object-fit: cover;
  object-position: 50% 33%;
  top: 0;
  left: 0;
}
#vanilla-slideshow-next,
#vanilla-slideshow-previous {
  bottom: 32px;
  width: 48px;
  height: 50px;
  display: none;
  z-index: 5;
  position: absolute;
  cursor: pointer;
}
#vanilla-slideshow-previous {
  left: 42%;
  background-position: 0 100%;
}
#vanilla-slideshow-next {
  right: 42.5%;
  background-position: 100% 100%;
}
#vanilla-slideshow-next img,
#vanilla-slideshow-previous img {
  width: 40px;
}
#vanilla-slideshow-next img {
  float: right;
}
#vanilla-indicators {
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  width: 95px;
  margin: 0 auto;
  bottom: 54px;
}
.vanilla-indicators {
  box-shadow: 0 0 10px #333;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  float: left;
  margin-right: 3px;
  cursor: pointer;
}
.vanilla-indicators.vanilla-active {
  background-color: #ec7d29;
}
.subtext {
  width: 60%;
  font-size: 16px;
  text-shadow: #fff 0 0 1px;
}
a.pane-link {
  float: left !important;
  color: #ec7d29 !important;
  font-weight: 700;
}
#slide-4-list {
  color: #fff;
  text-shadow: 1.3px 1.3px 0 #000;
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  margin-top: 20px;
}
@media only screen and (min-width: 641px) and (max-width: 1100px) {
  #slide-4-list,
  .vanilla-slide h4 {
    text-align: center;
  }
  #nations-top-badge {
    height: 110px;
    width: 110px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 74.6%;
  }
  .text-container {
    max-width: initial;
    width: 100%;
    padding: 0;
  }
  #form-wrap textarea.tform2 {
    margin-top: 10px;
  }
  #slide-4-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 22%;
    line-height: 48px;
  }
  #about-bisnar-chase {
    width: 100%;
  }
  .vanilla-slide h1,
  .vanilla-slide p {
    margin: 0 auto;
  }
  .vanilla-slide h1 {
    padding-top: 28px;
  }
  .vanilla-slide p {
    max-width: inherit;
    width: 80%;
  }
  .vanilla-slide span.sub-title,
  .vanilla-slide span.title {
    text-align: center;
  }
  #opacity-container {
    background-color: #000;
    border-top: none;
    border-bottom: none;
    width: 100vh;
    max-width: initial;
    height: calc(100vh - 177px);
    opacity: 0.5;
  }
  #vanilla-slideshow-container {
    overflow: hidden;
  }
  .vanilla-slide video {
    right: 106%;
  }
  a#contact-button-new {
    width: 205px;
    z-index: 500;
    bottom: 16%;
  }
  #vanilla-slideshow-previous {
    left: 35%;
    bottom: 32px;
    background-position: 0 100%;
  }
  #vanilla-slideshow-next {
    right: 35.5%;
    bottom: 32px;
    background-position: 100% 100%;
  }
  #vanilla-slideshow-next img,
  #vanilla-slideshow-previous img {
    width: 40px;
  }
  #vanilla-slideshow .buttons #brown-button-new {
    width: 205px;
    bottom: 16%;
    left: initial;
    right: 0;
    margin: 0;
    border-right: none;
    border-left: 2px solid #fff !important;
    border-radius: 10px 0 0 10px;
  }
  #vanilla-slideshow #vanilla-slide-1 p.subtext,
  #vanilla-slideshow #vanilla-slide-2 p.subtext,
  #vanilla-slideshow #vanilla-slide-3 p.subtext {
    width: 75%;
    line-height: 37px;
  }
  #vanilla-slideshow #vanilla-slide-1 p.subtext,
  #vanilla-slideshow #vanilla-slide-2 p.subtext,
  #vanilla-slideshow #vanilla-slide-3 p.subtext,
  #vanilla-slideshow #vanilla-slide-4 p.subtext,
  #vanilla-slideshow #vanilla-slide-5 p.subtext {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    text-align: center;
  }
  #vanilla-slideshow .buttons #brown-button-new:hover {
    border-left: 2px solid #ec7d29 !important;
    border-right: none !important;
  }
  #vanilla-slideshow #vanilla-slide-1 img {
    object-position: 100% 33%;
  }
  #vanilla-slideshow #vanilla-slide-3 p.subtext-2 {
    padding-top: 0;
    line-height: 37px;
    text-align: center;
    max-width: initial;
  }
  .vanilla-slide video {
    object-position: 81% 50%;
  }
  #vanilla-slideshow #vanilla-slide-4 p.subtext {
    line-height: 44px;
    width: 80%;
  }
  #vanilla-slideshow #vanilla-slide-4 img {
    object-position: 50% 33%;
  }
  #vanilla-slideshow #vanilla-slide-5 p.subtext {
    line-height: 44px;
    width: 75%;
  }
  #vanilla-slideshow #vanilla-slide-5 img {
    object-position: 47% 33%;
  }
  #vanilla-slideshow #vanilla-slide-4 .text-container ul {
    line-height: 40px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 640px) {
  #nations-top-badge {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 53%;
  }
  #featured-desktop-tablet-wrapper,
  a#call-mobile-icon,
  a#directions-mobile-icon,
  a#home-mobile-icon,
  a#search {
    display: none;
  }
  #featured-mobile-wrapper {
    display: block;
  }
  #mobile-text-container {
    position: absolute;
    width: 100%;
  }
  #mobile-text-container span.title {
    text-shadow: 1.5px 1.5px 0 #000;
    font-size: 30px;
    font-style: italic;
    color: #fff;
    display: block;
    font-weight: 400;
    padding-top: 5px;
    text-align: center;
    line-height: 35px;
    max-width: 90%;
    margin: 0 auto;
  }
  #mobile-text-container span.sub-title {
    display: block;
    font-size: 14px;
    text-shadow: 1.2px 1.2px 0 #000;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #ec7d29;
  }
  #mobile-image-header {
    object-fit: cover;
    object-position: 47% -17%;
    height: 91.2vh;
    width: 100% !important;
  }
  body#template-home #navbar {
    background: #fff !important;
    border-bottom: 5px solid #222533;
    height: 84px !important;
    position: initial;
  }
  #navbar-inner {
    position: relative;
    right: -80%;
    margin-left: 0 !important;
    height: 100% !important;
  }
  #icons-bar {
    height: 100%;
  }
  #icons-bar a#menu-link {
    display: inline-flex;
    width: 0;
  }
  html body div#title-head {
    position: absolute;
    background: 0 0 !important;
    width: 100%;
  }
  #title-head #title-head-inner {
    position: absolute;
    margin-left: 0;
    top: 0;
  }
  #title-head #header-bar-right {
    position: absolute;
  }
  #template-home #title-head a#home-link {
    height: 61px !important;
    background-size: 80% !important;
    background-position-y: 26% !important;
    margin: 0 !important;
  }
  #navbar-inner #top-menu {
    top: 85px;
    width: 100%;
    right: 0;
    left: 0;
    position: fixed;
  }
  a#menu-link i.fa-bars {
    color: #ec7d29;
    position: relative;
    top: 24%;
    right: -32%;
  }
  a#menu-link i.active-mobile-icon {
    color: #222533 !important;
  }
  #mobile-opacity-container {
    width: 100%;
    height: 98px;
    position: absolute;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      #000 100%
    );
  }
  #mobile-opacity-container-bottom {
    width: 100%;
    height: 137px;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0%, 0%, -7%) 0,
      rgba(0, 0%, 0%, 100%) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0%, 0%, -7%) 0,
      rgba(0, 0%, 0%, 100%) 100%
    );
  }
  #mobile-header-container #buttons-container-mobile a.red-button {
    margin: 0;
    background: initial;
    border-radius: initial;
  }
  #buttons-container-mobile {
    position: absolute;
    width: 100%;
    height: calc(100vh - 53px);
  }
  #buttons-container-mobile a#call-btn-red {
    position: absolute;
    left: 0;
    bottom: 20%;
    background-color: #ec7d29 !important;
    border-left: none;
    border-radius: 0 10px 10px 0 !important;
    text-shadow: 1.3px 1.3px 0 #000;
  }
  #buttons-container-mobile a#sms-btn-red {
    position: absolute;
    right: 0;
    bottom: 20%;
    border-radius: 10px 0 0 10px !important;
    background: 0 0 !important;
    border: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: none;
    text-shadow: 1.3px 1.3px 0 #000;
    text-transform: uppercase;
  }
  #buttons-container-mobile a#call-btn-red:hover {
    background: linear-gradient(180deg, #ffc04c 0, #ce722c) !important;
  }
  #buttons-container-mobile a#free-case-evaluation-btn:hover,
  #buttons-container-mobile a#sms-btn-red:hover {
    border-color: #ec7d29;
    color: #ec7d29;
  }
  #buttons-container-mobile a#free-case-evaluation-btn {
    position: absolute;
    margin: 0 auto !important;
    bottom: 30.5%;
    background-color: 0 0 !important;
    min-width: 100%;
    max-width: 100%;
    font-size: 16px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-shadow: 1.3px 1.3px 0 #000;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
  }
}
@media only screen and (max-height: 900px) {
  .text-container .title.text {
    font-size: 48px !important;
    padding-top: 25px;
  }
  .text-container span.sub-title {
    font-size: 16px !important;
    width: 95%;
  }
  .text-container p.subtext {
    padding-top: 5px;
  }
  .text-container .subtext {
    font-size: 16px;
  }
  .text-container p.subtext {
    line-height: 30px;
  }
  .text-container p.subtext a {
    margin-top: 5px;
    font-size: 12px;
  }
  .text-container ul#slide-4-list li {
    padding-left: 20px;
    font-size: 16px;
    line-height: 30px;
  }
  .text-container ul#slide-4-list a {
    margin-top: 5px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 12px;
  }
  .text-container .buttons #contact-button-new {
    bottom: 110px;
  }
  .text-container .buttons #brown-button-new {
    bottom: 40px;
  }
}
@media only screen and (max-height: 700px) {
  .text-container .title.text {
    font-size: 40px !important;
  }
  .text-container span.sub-title {
    font-size: 16px !important;
    width: 95%;
  }
  .text-container p.subtext {
    padding-top: 5px;
  }
  .text-container .subtext {
    font-size: 12px;
  }
  .text-container p.subtext {
    line-height: 25px;
  }
  .text-container p.subtext a {
    margin-top: 5px;
    font-size: 10px;
  }
  .text-container ul#slide-4-list li {
    padding-left: 20px;
    font-size: 12px;
    line-height: 20px;
  }
  .text-container ul#slide-4-list a {
    margin-top: 5px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 10px;
  }
}

@media only screen and (min-height: 1350px) {
  #nations-top-badge {
    left: 530px;
  }

  #opacity-container {
    border-top: calc(100vh - -250px) solid #000;
  }
}
