.be-top-header .be-navbar-header .navbar-brand {
  background: url('https://www.bestattorney.com/images/sprites-general.webp');
  background-position: 1px 141px;
  width: 232px;
  height: 55px;
  background-size: 149%;
  padding: 10px;
  border: 8px solid white;
  border-top: 10px solid white;
}
