.flow-img {
    background-size:contain;
    width:100%;
    height: 85vw;
    background-repeat:no-repeat;
}

#flow-1 {
    background-image: url(/admin/assets/img/ba-flow/flow1.jpg);
}

#flow-2 {
    background-image: url(/admin/assets/img/ba-flow/flow2.jpg);
     margin-top: -49px;
    background-position-y: -51px;
}

#flow-3 {
    background-image: url(/admin/assets/img/ba-flow/flow3.jpg);
    margin-top: -100px;
    background-position-y: -51px;
}

