.section, .section div {

	box-sizing:border-box;

}



#starting-questions {

	list-style: disc outside none;

	padding:10px 65px;

}



#starting-questions li{

	float:left;

	width:50%;

	font-size:13px;

	font-weight:700;

	text-shadow: 0px 0px 16px white, 0px 0px 35px white;

}



#timeline {

	border-radius:10px;

	min-height:700px;

	max-width:1100px;

	padding-bottom:210px;

	background-color: rgba(216, 216, 216, 0.1);

    border: 1px solid rgba(0,0,0,.1);

    box-shadow: 4px 4px 24px -10px rgba(0,0,0,.2);

    overflow:hidden;

    position:relative;

}



.box-text {

	padding:0px 10px;

	text-align: left;

}



.box-text p {

	font-size:14px;

}



.box-text-question {

	display:flex;

	padding: 0;

}

.box-text-question-vertical {

	height:inherit;

}



.box-text-question a {

	margin:auto;

}



.box-text-question a:hover, .box-text-question a:focus {

	text-decoration: none;

}



.box-text-question i {

	font-size:30px;

	color:#3085AF;

	text-shadow: 1px 1px 2px #666;

	display:inherit;

	opacity:0;



}



.box-text-question i:hover {

	cursor:pointer;

	color:#1A5C7D;

}



.box-text-question i:active {

	cursor:pointer;

	text-shadow: 1px 4px 6px #DFE5E8,0px 0px 0px #000,1px 4px 6px #DFE5E8;

    color: rgba(27,97,141,0.8);

}



#timeline .box {

	border-radius:5px;

	background-color:rgba(223, 229, 232, 0.825);

    overflow: hidden;

    border:0px solid black;

        box-shadow: 5px 5px 10px -5px black;

}



#timeline #section-2-right .box {

	background-color: rgba(179, 222, 186, 0.825);

}



.line {

	height:0;

	border:0px solid black;

	position:relative;

	z-index:-100;

}



.fade-element {

	opacity:0;

}



.overflow {

	overflow:visible !important;

}



.popover {

	width:800px !important;

}



.flex-container{

	display:flex;

}



.timeline-button {

	stroke-width: 1px;

	fill: #DFE5E8;

	stroke: #3A9ED0;

	stroke-dasharray: 0 100;

	stroke-dashoffset: 0;

	transition: stroke-dasharray .5s, stroke-width .5s, stroke-dashoffset .5s, stroke .5s, ease;

}



#rect-no, #rect-yes {

	fill: #B3DEBA;

}



.timeline-button:hover {

	stroke-dasharray: 70 0;

	stroke-width: 5px;

	stroke-dashoffset: 100;

	stroke: black;

	cursor:pointer;

}



.timelinebuttonselected {

	stroke-dasharray: 70 0;

	stroke-width: 5px;

	stroke-dashoffset: 100;

	stroke: black;

	cursor:pointer;

}



.timeline-button:active {

	fill: #87B2C7;

	stroke: #3A9ED0;

	transition: stroke .1s, ease;

}



.choice-box .box-text {

	pointer-events:none;

	position: absolute;

    bottom: 78px;

    left:43px;

    opacity:0;

}



.timeline-checkbox:before {

    content: "\f10c";

    font-size:22px;

}

.timeline-checkbox:hover:before {

    content: "\f05d";

    opacity:.5;

    cursor:pointer;

}



.timeline-checked:before {

    content: "\f05d";

    color:green;

    font-size:22px;

}



.timeline-checked:hover:before {

	cursor:pointer;

	opacity:.5;

}



ul li {

	line-height:22px;

}



#part-1, #part-2, #part-3, #part-4, #part-5 {

	position:relative;

	z-index:200;

}



.expand-arrow {

	display:flex;

	position:absolute;

}



.expand-arrow i {

	font-size:72px;

	text-align:center;

	display:none;

	color:#3E773E;

	padding: 20px 0;

	margin:auto;

	opacity:0;

	cursor:pointer;

	position:relative;

}



#expand-arrow-1 i {

    left: 200px;

}



#expand-arrow-2 i {

    left: 200px;

}



#expand-arrow-3 i {

    left: 200px;

    top:-70px;

}



#expand-arrow-4 i {

    left: 200px;

}



#expand-arrow-5 i {

    left: 507px;

    top:0px;

}

#expand-arrow-6 {

	position:relative;

}

#expand-arrow-6 i {

	margin:auto;

}



#expand-arrow-7 {

	margin:auto;

	display:block;

	position:initial;

}



#expand-arrow-7 i {

	clear:both;

}



.expand-arrow i:hover {

	color:#285D28;

}



.expand-arrow i:active {

	cursor:pointer;

	text-shadow: 1px 4px 6px #FFFFFF,0px 0px 0px #000,1px 4px 6px #FFFFFF;

    color: rgba(62, 119, 62, .8);

}



#phase-3-treatment ul li {

	cursor:pointer;

	list-style: none;

}



#full-width p {

	padding:0 !important;

}



#part-1 {

	box-shadow: 0px 445px 192px -132px #EBEBEB inset;

}



#part-1 h2 {

	padding: 35px 0 15px;

}



#part-1 p {

	padding:10px 30px 0 !important;

}



#timeline #injuries-button-box {

	border-bottom:2px solid black;

	border-left:2px solid black;

	border-right:2px solid black;

	padding:0 30px 20px 30px;

	height: 113px;

	margin:30px 50px 0;

}



#timeline #injuries-button-box button {

	margin:auto;

	display:block;

	opacity:1;

}



#section-1 .line-1{

	width:50%;

	border-right:2px solid black;

}



#section-1-hire {

	margin:auto;

	width:0px;

	height:0px;

	border:0px solid black;

	position:relative;

}



#section-1-hire h4 {

	text-align:center;

}



#section-1 .line-2  {

	border-right: 2px solid black;

	float:left;

	left:350px;

}



#section-1 .line-3 {

	border-right: 2px solid black;

	float:left;

	left:750px;

}



#phase-1-text h3 {

	text-align:center;

}



#constantly-taking-place, #constant-calls-lawsuit, #constant-calls-settlement, #constant-law-changes {

	background-color:#E8EABC !important;

}



#constantly-taking-place h4,  #constantly-taking-place p{

	text-align:center;

}



#constant-line-long {

	border: 0px dashed black;

	position:relative;

	left:43px;

	top: 24px;

}



#constantly-taking-place, #phase-2-healing{

	width:0px;

	height:0px;

	border:0px solid black;

	position:relative;

	

}



#focus-on-healing .line-1{

	width:0px;

	position: relative;

    left: 165px;

}



#focus-on-healing .line-2{

	width:0px;

	position: relative;

    left: 239px;

    float: left;

    bottom: 2px;

    opacity:1;

    margin-bottom: -2px;

}



#focus-on-healing .line-3{

	width:0px;

	height:0px;

	position: relative;

    left: 165px;

    opacity:1;

    clear:both;

}



#focus-on-healing .choice-box svg {

	bottom:8px;

	position:relative;

}



#emergency-yes {

	position: relative;

 	float:left;

    opacity:1;

    position: relative;

    left: 101px;

}



#emergency-no {

	position: relative;

    right: -95px;

    opacity: 1;

    float: left;

}



#phase-3-medical {

	position: relative;

    bottom: 55px;

}



#phase-3-medical .line-1 {

    float: left;

    display: block;

    pointer-events: none;

    left: 165px;

    position: relative;

}



#phase-3-medical .line-2 {

    float: left;

    display: block;

    pointer-events: none;

    left: 311px;

    position: relative;

}



#phase-3-treatment {

	width: 0px;

    height: 0px;

    float: right;

    position: relative;

    top: 55px;

    right: 365px;

    margin-top: 15px;

}



#phase-4-medical .line-1 {

	position:relative;

	right: 231px;

    top: 0px;

}



#phase-4-medical .line-2 {

	position:relative;

	clear:both;

    top: 25px;

}



#section-4-box {

	position:absolute;

	bottom: 22px;

}



#phase-4-instructions {

    width:0px;

    display: block;

    float: right;

    position: relative;

    left: -231px;

}



#phase-4-instructions .box-text {

	width:430px;

}



#phase-4-instructions .box-text .documentation-paragraph{

	font-size:12px;

	display:none;

}



#phase-4-instructions .box-text .documentation-paragraph strong {

	font-size:14px;

}



#phase-2-legal {

	margin-bottom: -39px;

}



#phase-2-legal .line-1 {

	position: relative;

    right: 180px;

}



#phase-2-legal #phase-2-lit-or-no {

	height:0px;

	width:0px;

	border:0px solid black;

	position: relative;

    right: -222px;

}



#phase-2-legal #phase-2-lit-or-no p, #phase-2-legal #phase-2-lit-or-no h4{

	box-sizing:border-box;

	padding:0;



}



#phase-2-legal #phase-2-lit-or-no h4 {

	text-align:center;

}



#phase-2-legal #phase-2-lit-or-no li {

	font-size:14px;

	margin-bottom:5px;

}



#phase-2-legal #phase-2-lit-or-no li i {

	color:#8B0000;

}



#phase-2-legal .line-2 {

	position: relative;

    right: 94px;

    clear:both;

}



#phase-2-legal .line-3 {

	position: relative;

    left:77px;

    margin-bottom:-6px;

    width:0;

}



#phase-2-legal-no {

	position: relative;

	float:left;

    left: 7px;

    opacity:1;

}



#phase-2-legal-yes {

	position: relative;

    left: 147px;

    float:left;

    opacity:1;

}



#phase-2-legal-yes .box-text {

	bottom: 70px;

}



#phase-2-legal-no .box-text {

	bottom: 70px;

	left:44px;

}



#section-3-legal {

	position: relative;

	bottom:3px;

}



#section-3-legal .line-1 {

	position: relative;

    left:92px;

    float:left;

}



#section-3-legal .line-2 {

	position: relative;

    left: 373px;

    float:left;

}



#section-3-legal #section-3-case-type {

	height:0px;

	width:0px;

    position: relative;

    left: 46px;

    float:left;

    overflow: hidden;

}





#section-4-legal {

	position:relative;

}



#section-4-legal .line-1 {

    float:left;

    bottom: 4px;

    left: 250px;

}



#section-4-legal .line-2 {

    float:left;

    left: 354px;

    bottom: 53px;

    margin-bottom: -50px;

}



#section-4-legal .line-3 {

    float: left;

    left:194px;

    top: 40px;

}



#lawsuit-1, #settlement-1 {

	height:0px;

	width:0px;

	border:2px solid black;

	position:relative;

	bottom: 5px;

	left: 118px;

	float:left;

	margin-bottom: 80px;

}



#constants {

	height:0px;

	width:0px;

	border:0px solid black;

	position: absolute;

    left: 508px;

    top: 75px;

}



#constant-calls-lawsuit, #constant-calls-settlement {

	height:0px;

	width:0px;

	border:0px solid black;

	position:relative;

	float:left;

	right:30px;

    top: 25px;

    

}



#constant-calls-lawsuit .box-text-question a, #constant-calls-settlement .box-text-question a {

	margin: -10px auto 0;

}



#section-5-legal .line-1 {

    float: left;

    bottom: 85px;

    left: 250px;

}



#section-5-legal .line-2 {

    float: left;

    left: 494px;

    bottom: -23px;

}



#settlement-2, #lawsuit-2 {

	height:0px;

	width:0px;

	border:2px solid black;

	position:relative;

	bottom: 5px;

	left: 118px;

	float:left;

	margin-bottom: 80px;

}



#constant-law-changes {

	height:0px;

	width:0px;

	border:0px solid black;

	position:relative;

	float:left;

	right:30px;

    top: 25px;

}



#constant-law-changes .box-text-question a {

	margin: -10px auto 0;

	bottom: -30px;

}



#section-6-legal {

	margin-top:0px;

	position:relative;

	min-height:0px;

}



#section-6-legal .line-1 {

    bottom: 5px;

    left: 250px;

}



#settlement-3, #lawsuit-3 {

	height:0px;

	width:0px;

	float:left;

	bottom:5px;

	left:119px;

	position:relative;

	clear:both;

}





#section-6-legal .line-2 {

	left: 250px;

    bottom: -10px;

    margin-top: -25px;

}





#settlement-4, #lawsuit-4 {

	height:0px;

	width:0px;

	bottom:5px;

	left:119px;

	position:relative;

	float:left;

	clear:both;

}



#section-7 .line-2, #section-7 .line-3, #section-7 .line-4 {

    bottom: 5px;

    left: 80px;

    float:left;

    clear:both;

}





#settlement-5, #lawsuit-5, #settlement-6, #lawsuit-6, #settlement-7 {

	height:0px;

	width:0px;

	bottom:5px;

	left:119px;

	position:relative;

	float:left;

	clear:both;

}



#lawsuit-7 {

	height:0px;

	width:0px;

	bottom:5px;

	left:119px;

	position:relative;

	clear:both;

	margin:auto;

	background-color:#F9D7D7 !important;

}



#lawsuit-7 h2 {

	text-align:center;

	position:relative;

	bottom:10px;

}



#section-8 {

	position:relative;

	margin-top: -18px;

}



#section-8 .line-1 {

    left: 275px;

    width:0px;

    margin-top: 11px;

    margin-bottom: 3px;

}



#section-8 .line-2 {

    left: 535px;

    width:0px;

    margin-top: -5px;

}



#settlement-8 {

	width:0;

	height:0;

	position:relative;

	/*left:534px;

	top:65px;*/

	margin:auto;

	background-color: #DA7C7C !important;

}



#section-8 .line-3 {

    left: 807px;

    width:0px;

}



#section-9 .line-1 {

	margin:auto;

	position:relative;

	right:10px;

}



#settlement-9 {

	right:5px;

	width:0;

	height:0;

	position:relative;

	margin:auto;

	border:0px solid black;

}



#settlement-9 .box-text-question {

	height:20px;

}



#settlement-9 .box-text-question a {

	 margin: 5px auto 0;

}



#damages-list {

	width:726px !important;

}



.damage-item {



	margin:5px;

	width:31.333%;

	margin:5px 0 5px 2%;

	font-size:12px;

	float:left;

}



.damage-item i {

	color:#3085AF;

	font-size: 22px;

    margin-right: 7px;

}



.section-9-flex-item {

	width:20%;

	padding:0 3px;

}



#section-9-flex .line {

	margin:0px auto;

	width: 0px;

}



.lawsuit-8 {

	height:0;

	width:0;

	margin:0px auto;

	text-align:center;

	position:relative;

	right:0;

}



.lawsuit-8 .box-text p {

	font-size:14px;

	text-align:center;

}



#lawsuit-8-1 .popover {

	/*width:380px !important;

	max-width:380px !important;*/

}



#lawsuit-9 {

	height:0;

	width:0;

	margin:0px auto;

	position:relative;

	right:0;

	display:none;

}



#lawsuit-9 h3 {

	padding-top: 7px;

}



#section-9 .line-2 {

	position:relative;

	float:left;

	left: 348px;

	border-style:dashed;

	margin-bottom: -14px !important;

}



#section-9 .line-3 {

	float:right;

	position:relative;

	right:335px;

}



#section-6-legal .line-3 {

    position: absolute;

    left: 590px;

    bottom: 257px;

}



#section-6-legal .line-4 {

    position: absolute;

    left: 590px;

    bottom: 20px;

    width:0;

}



#section-6-legal .line-5 {

	position: absolute;

    left:1040px;

    bottom:0px;

}



#offer-made, #more-info-required {

	width:0px;

	height:0px;

	float:left;

	position:relative;

}



#offer-made .box-text-question {

	z-index: 100;

}



#more-info-required {

	position:relative;

	left:170px;

	clear:left;



}



#offer-made {

	right: 170px;

    float: right;

    /*margin-top:-70px;*/

}



#section-9 .line-4 {

	width:0px;

	top: 185px;

    /*right: 371px;*/

    height:0;

    float:left;

    margin-top: 13px;

    border-style:dashed;

}



#lawsuit-10 {

	width:0px;

	height:0px;

	margin:auto;

}



#section-10 .line-1 {

	top:100px;

    left:631px;

    width:0px;

    border-style:dashed;

}

#section-10 .line-2 {

    float:right;

    right: 300px;

    top: 7px;

}



#section-10-box-1 {

	bottom: 103px;

	position:relative;

}



#offer-rejected {

	width:0px;

	height:0px;

	position:relative;

	left: 410px;

    top: 97px;

}



#section-10 .line-3 {

    left:70px;

    float: left;

    bottom: -72px;

    border-style:dashed;

}



#section-10 .line-4 {

    right: 830px;

    top: 239px;

    width: 0;

    position: absolute;

    border-style:dashed;

}



#section-10 .line-5 {

    /*left: 700px;

    width: 0;

    bottom: 0px;

    margin-top: -389px;*/

    right: 350px;

    width: 0;

    bottom: 112px;

    float: right;

}



#offer-accepted {

	height:0;

	width:0;

	float:right;

	right:300px;

	position:relative;

	margin-top: -15px; /*formerly -103*/

}



#section-10 .line-6 {

    right: 550px;

    width: 0;

    float:right;

    margin-top: -172px;

}



#case-finished {

	height:0;

	width:0;

	float:right;

	right:300px;

	position:relative;

	bottom:79px;

}



#section-10 .line-7 {

	width: 0px;

    left: 1043px;

    bottom:29px; 

}

#section-10-lawsuit .flex-container {

	clear:both;

	position:relative;

	bottom:3px;

}



#section-10-lawsuit .flex-container .flex-item {

	margin:0 auto;

	width:50%;

}



#section-10-lawsuit .line {

	margin:0 auto;

	width:0;

	height:0;

}



#section-10-lawsuit .line-2, #section-10-lawsuit .line-4 {

	border-style:dashed;

}



#section-10-lawsuit .line-3 {

	clear:both;

	bottom: 4px;

}



#section-10-lawsuit .line-5 {

	/*right:276px;*/

	left:0;

	margin-top:-4px;

}



#section-10-lawsuit .line-6 {

	margin-top:-4px;

}



#lawsuit-11, #lawsuit-12, #lawsuit-finished, #case-trial, #verdict {

	width:0px;

	height:0px;

	margin: auto;

}



#case-trial {

	margin-top: -4px;

}



#verdict h2 {

	padding-top:8px !important;

}



#part-4 {

	padding:30px 0 0;

	display:none;

}



#part-4 button, #injuries-button-box button {

	margin:auto;

	display:block;

}



#part-4 h2 {

	font-family: verdana, sans-serif;

    padding: 15px 0 0 0;

    margin: 0;

    font-size: 20px;

    line-height: 32px;

    color: #275679;

}



#width-warning {

	margin-top: 18%;

}



#width-warning p {

	font-size:14px;

}



#width-warning #expand-browser, #width-warning #no-expand-browser {

	display:none;

}



.ui-dialog .ui-dialog-title {

	font-size:14px;

}



.ui-widget-content button {

	font-size:13px;

}



.ui-dialog-titlebar-close:after {

	content:"X";

}



#part-5 {

	display:none;

}



#timeline-case-evaluation {

	width: 100%;

    background-color: rgba(33,50,63,.80);

    padding: 20px 40px;

    box-shadow: inset 0px 0px 200px 66px rgb(33,50,63);

    margin: 130px 0 -210px 0;

}



#timeline-case-evaluation .subtext {

	text-align: center;

    color: white;

    margin-bottom:15px;

}



#contact-form-flex p {

	margin:0 auto;

	display:block;

}



#timeline-case-evaluation .tform2 {

	box-sizing:border-box;

	width:100%;

	margin-bottom:10px;

}



#contact-injuries-box {

	box-sizing:border-box;

	padding:7px;

	border-radius:5px;

	height:80px;

	margin:10px 0;

}



#contact-injuries-box h3 {

	display:inline;

	float:left;

	color:white;

}



.contact-injury {

	display: inline-block;

    border-radius: 4px;

    background-color: rgba(212, 219, 226, 0.98);

    padding: 10px;

    width: auto;

    border: 1px solid rgb(57, 76, 105);

    margin: 10px;

    float: left;

    box-shadow: 0px 0px 40px 2px rgba(101, 122, 152, 0.62) inset, 1px 1px 0px #222;

}



.x-mark {

	margin-left: 13px;

    padding: 4px;

    background-color: #2A71AD;

    color: #FFF;

    font-weight: 700;

    border-radius: 5px;

}



.x-mark:hover {

	cursor:pointer;

}



#parallax-viewfinder {

	width: 1100px;

    height: 1000px;

    position: absolute;

    z-index: 100;

    bottom:0;

    top:-500px;

}



#viewfinder-top {

	background-color: #FBFBFB;

	height:40%;

	margin-bottom:40%;

	box-shadow: 0 40px 300px 160px #FBFBFB;

}



#viewfinder-bottom {

	background-color: #FBFBFB;

	height:40%;

	box-shadow: 0 -40px 300px 150px #FBFBFB;

}



#background-image img {

	position:absolute;

	top:0;

	z-index:50;

}



#fixed-reset-bar {

	position:fixed;

	bottom:0px;

	right:0px;

	display:none;

	width:100%;

	height:48px;

	background-color: rgba(13, 52, 86, 0.85);

	box-shadow: 0px 0px 75px #427294 inset;

	z-index:200;

}



#fixed-reset {

	margin: 8px auto 0 auto;

	display:block;

}