/*Updated 5/6/16, 12:07AM */

nav {
	margin-top: 0px;
    background-color: rgba(248,248,248,.6) !important;
}

nav .navbar-collapse {
	width: 1100px;
	margin: auto;
}

nav .active .navbar-brand {
	background-color: rgba(111, 111, 111, 0.12) !important;
}

nav a {
	color:black !important;
}

nav a:hover {
	color:#555 !important;
}

#root-link {
	text-align:right;
}

.centered {
	text-align:center;
}

#header-image {
	width:100%;
	height:600px;
	background-image:url("/images/scholarship background.jpg");
	background-size:cover;
	margin-top: -70px;
	background-position-y: -273px;
}

#header-image #bc-presents {
	margin:0 auto;
	padding-top:100px;
}

#bc-presents img {
	margin:0 auto;
	display:block;
	width:17%;
}

#header-image h1 {
	font-size:80px;
	text-shadow:1px 1px 4px black;
	color:#FFF;
	margin-top:0px;
}

#header-image h2 {
	font-size:48px;
	text-shadow:1px 1px 4px black;
	color:#D3E0EF;
}

.shadowbox {
	background-color:rgba(0,0,0,.7);
	width:100%;
	height:90px;
	margin-top:-90px;
}

.shadowbox h3 {
	font-size:48px;
	text-shadow:1px 1px 4px black;
	color:White;
	padding-top:18px;
}

#hashtag {
	display:none;
}

.fadeToggle {
	margin-top:0 !important;
	position:absolute;
	width:100%;
}

#content, #footer-content {
	width:1100px;
	margin: 0px auto;
	padding:40px 20px;
}

#breadcrumbs #home-crumb {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 5px;
    z-index: 1;
}

.webplossless #breadcrumbs #home-crumb {
	background: url('/images/sprites-general.webp') -774px -1px;
}
.no-webplossless #breadcrumbs #home-crumb {
	background: url('/images/sprites-general.png') -774px -1px;
}

#breadcrumbs {
	line-height: 18px;
    color: #252525;
    font-size: 11px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 15px 0px;
    text-align: left;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

#breadcrumbs a {
	margin: 0px 3px 0px 0px;
    padding: 0px 12px 0px 0px;
    color: #8e7b60;
    text-decoration: none;
    font-weight: normal;
    background: url("/images/raquo.png") no-repeat right 5px;
}

.breadcrumb {
	display: inline;
	background-color:white!important;
	padding-left:3px;
}

#howdoesitworkrow, #head-sentence {
	margin:20px 0;
}

.icons {
	text-align:center;
}

#howdoesitworkrow i {
	font-size:50px;
}

.row .btn {
	margin:30px auto 50px;
	display: block;
		width: 70%;

}

#submit-well-1 {
		margin-bottom:136px;
	}

footer{
	background-color:#333;
	color:#AD8C6A;
}

footer ul {
	list-style: none;
	font-size:16px;
}

footer ul li strong {
	color:white;
	font-size:20px;
}

footer ul li a{
	color:#ccc;
}

#footer-logo {
}

@media only screen and (min-width:1101px) and (max-width:1500px) {

	#header-image {
		height:450px;
	}

}


@media only screen and (min-width:641px) and (max-width:1100px) {
	.navbar {
		margin-bottom:0;
	}

	#content, #footer-content, nav, .navbar-collapse, .navbar{
		width:100% !important;
	}

	#header-image {
		height:350px;
		margin-top:0;
	}

	#header-image #bc-presents {
	    padding-top: 50px;
	}

	.no-tablet {
		display:none !important;
	}

	#header-image h1 {
		font-size:60px;
	}

	#header-image h2 {
		font-size:44px;
	}

	.shadowbox {
		height: 60px;
    	margin-top: -60px;
	}

	.shadowbox h3 {
		font-size:30px;
		
	}
}

@media only screen and (max-width:900px) {

	#header-image {
		background-position-y: 0px;
	}

}

@media only screen and  (max-width:640px) {
	#content, #footer-content, nav, .navbar-collapse {
		width:100%;
	}

	.no-mobile {
		display:none !important;
	}

	#header-image {
		height:300px;
	}

	#header-image h1 {
		font-size:40px;
		padding-top:100px;
	}

	#header-image h2 {
		font-size:34px;
	}

	.shadowbox {
		display:none;
	}

	#footer-content .col-md-4:last-child {
		   left: 15px;
	}

	#submit-well-1 {
		margin-bottom:20px;
	}

	.btn-lg {
		font-size:14px;
	}

	#headshot {
		width:100%;
	}

	#footer-logo img {
		 width: 100%;
	}
}

@media only screen and  (max-width:420px) {

	.btn-lg {
		font-size:11px;
	}
}