
/*========== 2.1 CSS Sprites ==========*/
.atto-image {
    box-sizing: border-box;
    height: 59px;
    width: 50px;
    display: block;
    padding: 0;
    border: 2px solid #FFF;
    float: left;
    margin: -5px 10px 0 6px;
    background-image: url('/images/sprites-general.webp');
}


#bisnar-atto-image {
    background-position: -114px -48px;
}

#beligan-atto-image {
    background-position: -252px -48px;
}

#long-atto-image {
    background-position: -206px -48px;
}

#antunovich-atto-image {
    background-position: -345px -48px;
}

#hyun-atto-image {
    background-position: -437px -92px;
}

#chase-atto-image {
    background-position: -68px -48px;
}

#ritsema-atto-image {
    background-position: -160px -48px;
}

#barker-atto-image {
    background-position: -391px -48px;
}

#hilst-atto-image {
    background-position: -299px -48px;
}

/* *********Touched by Arthur 10/19/18********* */

#martin-atto-image {
    background-position: -1375px -235px;
}

#silvers-atto-image {
    background-position: -437px -92px
}


/* ******************************************** */

.practice-areas-images {
    padding: 0px 0px 0px 0px;
    margin: -9px 10px 0px 6px;
    border: 2px solid #ffffff;
    float: left;
    width: 50px;
    height: 49px;
    box-sizing: border-box;
    background-image: url('/images/sprites-general.webp');
}

#wrongful-death-image {
    background-position: -144px -150px;
}
#truck-accident-image {
    background-position: -97px -150px;
}
#pedestrian-accident-image {
    background-position: -192px -150px;
}
#hit-and-run-image {
    background-position: -240px -150px;
}
#bicycle-accident-image {
    background-position: -288px -150px;
}
#motorcycle-accident-image {
    background-position: -336px -150px;
}
#nursing-home-image {
    background-position: -336px -103px;
}
#premises-liability-image {
    background-position: 0px -150px;
}
#pharmaceutical-litigation-image {
    background-position: -48px -150px;
}
#employment-law-image {
    background-position: -436px -200px;
}
#personal-injury-image {
    background-position: -384px -103px;
}

#dog-bite-image {
    background-position: -288px -103px;
}
#defective-product-image {
    background-position: -240px -103px;
}
#defective-medical-product-image {
    background-position: -192px -103px;
}
#catastrophic-injury-image {
    background-position: -144px -103px;
}
#car-accidents-image {
    background-position: -96px -103px;
}
#brain-injury-image {
    background-position: -48px -103px;
}
#auto-defect-image {
    background-position: 0px -103px;
}

#california-personal-injury {
	height:128px;
}

#california-personal-injury-attorney {
	background:none !important;
}

.lp-header {
	width: 100%;
	height: 100px;
	padding: 40px 0 0 0;
	margin:0;
	font-size:48px;
	font-weight:600;
	font-family:'franklin gothic', sans-serif;
	color:white;
}

.lp-sub-header {
	float: left;
	width:650px;
	display:inline-block;
	font-size:30px;
	line-height:38px;
	height:348px;
	padding: 0;
	margin: 0;
	font-weight:600;
	font-family:'franklin gothic', sans-serif;
	color:white;
}

#cta-box {
	float: left;
	width: 650px;
	display: inline-block;
	font-size: 28px;
	line-height: 38px;
	height: 96px;
	padding:33px 0 0 0;
}

#cta {
	padding:30px 0;
	text-align:center;
	border-top:1px solid #444;
	border-bottom:1px solid #444
}

.lp-free-case {
	font-size:22px;
}

#lp-arrow-right {
	font-size: 50px;
	position: relative;
	top: 5px;
	left: 15px;
	line-height: 0;
}

#lp-arrow-down {
	font-size: 50px;
	position: relative;
	top: 7px;
	left: 30px;
	line-height: 0;
	display:none;
}

#lp-form-wrap {
	background-color: rgba(33,50,63,.50);
	width: 312px;
	padding: 20px 40px;
	box-shadow: inset 0px 0px 200px 50px rgb(33,50,63);
	display: inline-block;
	margin-left: 58px;
}

#lp-form-wrap .tform2 {
	line-height: 15px;
	padding: 10px 0 0 10px;
	height: 73px;

}

#form-submit-button {
	margin: 0px auto 0px auto;
	/* background: url("https://www.bestattorney.com/images/send-request.png") no-repeat left top; */
	cursor: pointer;
	display: block;
}

#mobile-call {
	display:none;
}

#mobile-call a#call-today-button {
margin: 50px auto 0px auto;
background: url("https://www.bestattorney.com/images/call-today-mobile.png") no-repeat left top;
width: 259px;
height: 59px;
display:block;
}

.lp-h1 {
	font-size:40px;
	color:#A30000;
	font-weight:bold;
	height:auto;
	font-family:'franklin gothic', sans-serif;
	padding: 0 ;
	margin-bottom:10px;
}
.lp-h2 {
	font-family:'franklin gothic', sans-serif;
	padding:15px 0 0 0;
	margin:0;
	font-size: 40px;
	line-height: 32px;
	color: #275679;
}

.lp-content {
	width: 1100px;
	margin:auto;
}

.lp-content p {
margin: 0px 0px 0px 0px;
padding: 9px 0px 11px 0px;
}

.lp-content form {margin:0 auto;}
.lp-content input{height:39px; border: 1px solid #5F5F5F; width:300px; padding: 0 auto;}
.lp-content #form-submit-button {width:215px;height: 39px;border:none;}
.lp-content form textarea {margin-bottom:0;width:300px;}

.lp-content #contact-form-messages {font-size:12px;color:white;}

.landing-page-box {
	padding:50px 0;
}

#landing-page-box-1 {
	background-image: url('/lp/images/background/lines-pattern.jpg');
	background-color:#ECE7D7;
	margin-top:30px;
	box-shadow: 0px 0px 200px 130px #ECE7D7 inset;
}

#landing-page-box-1 ul li {
	margin:10px 0 10px;
	padding-left:20px;
}

#landing-page-box-2 {
	height: 532px;
	padding-top:20px;
}

#lp2-title {
	margin:0px 0 20px 0;
}

#lp-firm-image {
	float:left;
	width:350px;
	height:465px;
	background-image: url('/lp/images/bisnar-chase-image.jpg');
}

#lp-staff {
	display:none;
}

.vertical-divider {
	height:465px;
	width:0px;
	border-left:1px solid black;
	margin:0 19.5px;
	float:left;
}

.horizontal-divider {
	border-top:1px solid black;
	margin:30px 0;
	width:100%;
}

#lp2-page-content {
	float:left;
	width:650px;
	background-color:#ECE7D7;
	padding:10px 30px ;
	height:445px;
	font-size:16px;
}

.big-text {
	font-size:20px;
}

.small-text {
	font-size:14px;
}

#landing-page-box-3 {
	padding: 10px 0 30px;
}

#awards-ratings-reviews {
	margin-bottom:30px;
}

#testimonials {
	font-style:italic;
}

#testimonials #testimonial-text td{
	vertical-align: top;
	padding:0 3%;
}

#testimonials #testimonial-author td{
	vertical-align: bottom;
	height:40px;
	text-align:right;
	padding:0 3%;
}

#lp-testimonial-mobile {
	display:none;
}

.lp-list {
	font-size: 24px;
	font-family:"franklin gothic";
	line-height: 18px;
	list-style: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #222;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #222;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #222;
}
:-moz-placeholder { /* Firefox 18- */
  color: #222;
}

@media only screen and (min-width:1101px) {
	#form-flex {
		display:block !important;
	}
}

@media only screen and (max-width:1100px) {
	.lp-header {
		font-size:38px;
	}

	.lp-sub-header {
		font-size:26px;
	}
	.lp-h2 {
		text-align:center;
	}

	.lp-content {
		width:700px;
	}
	#cta-box {
		float: none;
		width: 650px;
		display: block;
		font-size: 28px;
		line-height: 38px;
		height: 93px;
		margin: auto;
		position: relative;
		bottom: 125px;
		background-color: rgba(255,255,255,.6);
		padding:0;
  }

	.lp-header, .lp-sub-header {
		width: 90%;
		text-align: center;
		margin: auto;
    float: none;
    display: block;
    height: 300px;
	}

	#lp-arrow-right {
		display:none;
	}

	#lp-arrow-down {
		display:inline-block;
	}

	#lp-form-wrap {
		width: 595px;
    margin: auto;
    margin-top: -95px;
		display:block;
	}

	#form-flex, #landing-page-box-3 {
		display: flex;
    	justify-content: space-between;
	}

	.lp-content input {
		width:auto;
		width: 583px\9;
	}

	.lp-content form textarea {
		width: 583px;
	}

	#landing-page-box-1 {
		margin-top: 40px;
	}

	#landing-page-box-2 {
		padding-bottom:0;
		height:auto;
	}

	#lp-firm-image {
		display:none;
	}

	#lp-staff {
		display:block;
	}

	.vertical-divider {
		display:none;
	}
}

@media only screen and (max-width:750px) {

	.lp-header {
		font-size: 36px;
		height:140px;
	}

	.lp-sub-header {
		height: 308px;
		font-size:28px;
		line-height:30px;
	}

	.lp-h1 {
		font-size: 34px;
	}

	.lp-content {
		width:480px;
	}

	#cta-box {
		display:none;
	}

	#lp-form-wrap {
		width: 75%;
		margin: auto;
	}

	.lp-content form textarea, .lp-content input {
		width: 100%;
		margin: auto;
		display: block;
	}

	#mobile-call {
		position: relative;
		bottom: 80px;
		margin-top:-65px;
	}

	#landing-page-box-3, #form-flex, #mobile-call {
		display:block;
	}

	#lp-staff {
		width:100%;
	}

	#lp2-page-content {
		width:auto;
		height:auto;
	}

	.lp-testimonial {
		width:80%;
		margin:auto;
		display:block;
	}

	#testimonials {
		display:none;
	}

	#lp-testimonial-mobile {
		display:block;
	}

	#awards-ratings-reviews {
		display:none;
	}

}

@media only screen and (max-width:500px) {
	.lp-content {
		width:90%;
	}
	.lp-header {
		font-size: 30px;
		height: 140px;
		line-height: 30px;
	}

	.lp-sub-header {
		font-size: 20px;
		line-height: 20px;
	}

	.lp-h1 {
		line-height:34px;
	}

	.lp-content form textarea, .lp-content input {
		width: 89%;
	}
}