/*********** # Styles BestAttorney.com/blog/ ***********/

/*

THIS CSS IS DEPRECATED AND IS NO LONGER USED. THE STYLESHEET THAT IS USED IS THE MAIN STYLESHEET.

Theme Name: BestAttorney.com
Theme URI: http://www.seoexpert.com/
Description: A Wordpress thing. 
Version: 5.0
Author: Mcheah@bisnarchase.com
*/



/*********** # print Styles  ***********/

@media only print {

#california-personal-injury { display: none; }

#ca-defense-lawyer { display: none; }

#featured-mobile-wrap { display: none; }

#featured-wrap { display: none; }

#about-us { display: none; }



#california-personal-injury-lawyer { width: 100%; color: #000000;  height:auto; }

#case-results { width: 100%; height:auto;padding: 0px 0px 0px 0px; }

#top-representation { width: 100%; height:auto; }

#content-expand { width: 100%; display: block; height:auto; }



a#expand { display: none; }

#share { display: none; }

#results { display: none; }

#bisnar-chase-difference { display: none; }

#our-practice-areas { display: none; }



#contact-bisnar-chase { width: 100%; height:auto; }

#contact-now { width: 100%; height:auto; }

#contact-now p#office-details { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }



#contact-us { display: none; }



#california-personal-injury-attorneys { width: 100%; }

#california-personal-injury-lawyers { width: 100%; }

#california-personal-injury-lawyers p.title  { display: none; }

#california-personal-injury-lawyers p.alt-title  { display: none; }

#blog-feed-wrap { display: none; }

#social-media { display: none; }

#sitemap { display: none; }



#disclaimer { width: 100%; }



#bisnar-and-chase { width: 100%; }

#bisnar-chase { width: 100%; }

#personal-injury-lawyers { width: 100%; }



#free-consultations  { display: none; }



#content { width: 100%; border-top: 18px solid #172633; }



#share-wrap  { display: none; }

#personal-injury-attorneys  { display: none; }

#awards-ratings-reviews  { display: none; }

a#see-all-awards  { display: none; }



h1 { height: auto; margin: 0; padding: 0; }



}