<div class="be-wrapper">
  <app-navbar></app-navbar>

  <div *ngIf="userIsAuthenticated">
    <app-left-sidebar></app-left-sidebar>
  </div>

  <router-outlet></router-outlet>
</div>
<!-- <script type="text/javascript">
    $(document).ready(function () {
      //initialize the javascript
      App.init();
    });

  </script> -->