<div class="be-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-border-color card-border-color-primary">
        <div class="card-header card-header-divider">Edit your Bisnar | Chase Account<span class="card-subtitle">Please
            edit the fields you
            would like to change</span>
        </div>
        <div class="card-body">
          <div class="container">
            <form [formGroup]="formGroup"
                  #f="ngForm"
                  (validSubmit)="onEditAccount(f)">
              <div class="form-group">
                <label>First Name</label>
                <input id="firstname"
                       type="text"
                       placeholder="First Name"
                       value={{firstname}}
                       class="form-control"
                       formControlName="FirstName">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input id="lastname"
                       type="text"
                       placeholder="Last Name"
                       value={{lastname}}
                       class="form-control"
                       formControlName="LastName">
              </div>
              <div class="form-group">
                <label>E-mail</label>
                <input type="email"
                       placeholder="E-mail"
                       value={{email}}
                       class="form-control"
                       formControlName="Email">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password"
                       placeholder="Enter a new password"
                       class="form-control"
                       formControlName="Password">
              </div>
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password"
                       placeholder="Confirm new password"
                       class="form-control"
                       formControlName="ConfirmPassword">
              </div>
              <div class="form-group pt-2">
                <button type="submit"
                        class="btn btn-block btn-warning btn-xl">Update Account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>