.card-header {
  background: url("~/../../../public_html/images/sprites-general.webp");
  background-position: 1px 144px;
  width: 232px;
  height: 55px;
  background-size: 149%;
  padding: 10px;
  border: 8px solid white;
  border-top: 10px solid white; 
}

#center-brand {
  text-align: center; 
}


  .invalid-feedback {
  font-size: 13px;
}

span.invalid-feedback {
  font-size: 50px;
}