.card-header {
  background: url('https://www.bestattorney.com/images/sprites-general.webp');
  background-position: 1px 144px;
  width: 232px;
  height: 55px;
  background-size: 149%;
  padding: 10px;
  border: 8px solid white;
  border-top: 10px solid white;
}

.be-content {
  margin-left: 0;
}

.login-remember {
  padding-top: 8px;
}

#center-brand {
  text-align: center;
}

:host ::ng-deep .invalid-feedback {
  font-size: 13px;
}
